%section#steps-uid-0-p-0.body.current.step{"aria-hidden" => "false", "aria-labelledby" => "steps-uid-0-h-0", :role => "tabpanel"}
  %label.control-label{:for => "websites_title"} Title
  %br
    %input#websites_title.form-control.required{"aria-required" => "true", :name => "websites[title]", :placeholder => "Website name", :type => "text"}
  %label.control-label{:for => "websites_domain"} Domain
  %br
    %input#websites_domain.form-control.required{"aria-required" => "true", :name => "websites[domain]", :placeholder => "http://www.domain.com", :type => "text"}