%h3#steps-uid-0-h-2.title{:tabindex => "-1"} Configuration
%section#steps-uid-0-p-2.body.step{"aria-hidden" => "true", "aria-labelledby" => "steps-uid-0-h-2", :role => "tabpanel"}
  = render partial: 'websites/configuration'