.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Websites
    = link_to new_website_path(), class: 'btn btn-primary pull-right' do
      = icon('plus')
      Add new website
    .clearfix
    %br/
    .panel.panel-default
      %table.table#websites-container
        %thead
          %tr
            %th Title
            %th Domain
            %th App Key
            %th App Id
            %th
        %tbody.websites
          %tr
            %td.title
            %td.domain
            %td.app_key
            %td.app_id
            %td
              %button.btn.btn-danger.btn-sm.pull-right.fa.fa-close#removeRecord
                Remove
