.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 User Websites
    %a.button.btn.btn-primary.fa.fa-plus.pull-right{:href => "/websites/new"}
      Add new site
    .clearfix
    %br/
    .panel.panel-default
      %table.table
        %thead
          %tr
            %th Title
            %th Domain
            %th App Key
            %th App Id
            %th Remove
        %tbody.get-websites.websites
          %tr
            %td.domain
            %td.title
            %td.app_key
            %td.app_id
            %td
              %button.btn.btn-danger.btn-sm.pull-right.fa.fa-close#removeRecord
                Remove
