.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Websites
    = link_to new_website_path(), class: 'btn btn-primary pull-right' do
      = icon('plus')
      Add new website
    .clearfix
    %br/
    .panel.panel-default
      %table.table#websites-container
        %thead
          %tr
            %th Title
            %th Domain
            %th App Key
            %th App Id
            %th Remove Website
        %tbody.websites
          %tr.website_row{"id"=>1}
            %td.title
            %td.domain
            %td.app_key
            %td.app_id
            %td
              = link_to 'Delete', api_v1_websites_path(), :method => :delete, :remote => "true", data: {confirm: "Are you sure?"}, :class => "delete_website"

