.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3
        Websites
        = link_to website_wizard_path(:create), class: 'btn btn-primary pull-right' do
          = icon('plus')
          Add new website
    .clearfix
    %br/
    .panel.panel-default#websites-container
      %table.table
        %thead
          %tr
            %th Title
            %th Domain
            %th App Key
            %th App Secret
            %th.text-right Actions
        %tbody.websites
          %tr.website_row{"id"=>1}
            %td.title
            %td.domain
            %td.app_key
            %td.app_secret
            %td.text-right
              = link_to ' Delete', websites_path(), :method => :delete, :remote => "true", data: {confirm: "Are you sure?"}, :class => "delete_website btn btn-danger pull-right fa fa-close"
    #missing-websites.bs-example.col-lg-12{"data-example-id" => "simple-alerts"}
      .alert.alert-info{:role => "alert", :align => "center"}
        %strong There are no websites.
        Go click "Add new website" on top right of the page to add new website. Thanks!


