#page-background
  .col-lg-8.align-wizard
    .panel.panel-info
      .panel-heading.text-center
        %h4 Create New Project
      .panel-body
        .row
          .stepwizard
            .stepwizard-row
              .stepwizard-step
                %a.btn.btn-info.btn-circle.active-step.tab1{"data-toggle" => "tab", :href => "#step-1"} 1
                %p Add Website
              .stepwizard-step
                %a.btn.btn-default.btn-circle.tab2{"data-toggle" => "tab", :disabled => "disabled", :href => "#step-2"} 2
                %p Chose Platform
              .stepwizard-step
                %a.btn.btn-default.btn-circle.tab3{"data-toggle" => "tab", :disabled => "disabled", :href => "#step-3"} 3
                %p Configuration
        .rate-updates
          .tab-content.margintop0{:style => "border:none !important;"}
            #step-1.tab-pane.fade.active.in.padding20
              %form#addWebsite{:action => "", :method => "post"}
                .form-group
                  %label.control-label Name
                  %input#title.form-control{:placeholder => "Website name", :required => "required", :type => "text", :name => 'website[title]'}/
                .form-group
                  %label.control-label Domain
                  %input#domain.form-control{:placeholder => "http://www.domain.com", :required => "required", :type => "url", :name => 'website[domain]'}/
                %br
                %a.btn.btn-default.pull-left#custom-button{:style => "width: 150px;", :href => "#", :onclick => 'EpicLogger.logout()'}
                  %i.icon-next
                  Log out
                %button.btn.btn-primary.pull-right#valid_website{:style => "width: 150px;",:name => 2, :type => "submit"}
                  %i.icon-next
                  Next
            #step-2.tab-pane.fade.padding20
              .col-md-12.pagecontainer
                .pagetitle.text-center
                  %h3 Installation and configuration
                .panel.panel-default.codeview
                  .panel-heading Client Configuration
                  .panel-body
                    %h5 To start sending events, configure your client with the following DSN value:
                    %pre
                      %code
                        %h5.platform-code https://{app_key}:{app_id}@test-sentry89.herokuapp.com/{id}
                    %br/
                    %h5 If this is a client that only needs public access (like epiclogger-js), you can use the following public DSN:
                    %pre
                      %code
                        %h5.platform-code https://{app_key}@test-sentry89.herokuapp.com/{id}
                .panel.panel-default.tileview
                  .panel-heading Platforms
                  .panel-body#platform{:style => 'cursor: pointer'}
                    %a.tile.text-center.resize-a{:name => "javascript"}
                      %img.resize-img{:src => image_path("icon_javascript.png")}/
                      %span Javascript
                    %a.tile.text-center.resize-a{:name => "node-js"}
                      %img.resize-img{:src => image_path("icon_nodejs.png")}/
                      %span Node Js
                    %a.tile.text-center.resize-a{:name => "ruby"}
                      %img.resize-img{:src => image_path("icon_ruby.png")}/
                      %span Ruby
                    %a.tile.text-center.resize-a{:name => "python"}
                      %img.resize-img{:src => image_path("icon_python.png")}/
                      %span Python
                    %a.tile.text-center.resize-a{:name => "ios"}
                      %img.resize-img{:src => image_path("icon_ios.png")}/
                      %span IOS
                    %a.tile.text-center.resize-a{:name => "php"}
                      %img.resize-img{:src => image_path("icon_php.png")}/
                      %span PHP
                    %a.tile.text-center.resize-a{:name => "java"}
                      %img.resize-img{:src => image_path("icon_java.png")}/
                      %span Java
                .panel.panel-default.tileview#client-frameworks
                  .panel-heading Frameworks
                  .panel-body
                    %a.tile.text-center.resize-a{:name => '#ruby', :href => "#rails-3"}
                      %img.resize-img{:src => image_path("icon_rails.png")}/
                      %span Rails 3
                    %a.tile.text-center.resize-a{:name => '#ruby', :href => "#rails-4"}
                      %img.resize-img{:src => image_path("icon_rails.png")}/
                      %span Rails 4
                    %a.tile.text-center.resize-a{:name => '#python', :href => "#django"}
                      %img.resize-img{:src => image_path("icon_django.png")}/
                      %span Django
                %div
                  %h5{:style => 'display:inline'} For more information on developing clients and the Sentry API, see the
                  %a{:href => '#'}documentation.
            #step-3.tab-pane.fade.padding20
              = render partial: 'websites/configuration'
              %button.btn.btn-default#back{:style => "width: 150px;",:name => 2, :type => "button"}
                %i.icon-next
                Go Back
              %button.btn.btn-success.pull-right#finish{:style => "width: 150px;",:name => 0, :type => "button"}
                %i.icon-next
                Finish