.row
  .col-sm-9.b-r
    %br/
    %h4 Add new website
    %form#addWebsite.col-lg-7{:action => "", :method => "post"}
      %label.control-label Title
      %input#title.form-control{:placeholder => "insert title", :required => "required", :type => "text", :name => 'title'}/
      %br/
      %label.control-label Website domain
      %input#domain.form-control{:placeholder => "www.domain.com", :required => "required", :type => "url", :name => 'website'}/
      %br/
      %button.btn.btn-success.m-t-n-xs{:type => "submit"} Save
  #filterpanel.col-lg-3.col-md-4.sidepanel
    %h4 Order by
    .panelbox
      .form-group
        %select#sortinput.form-control{:name => "sortinput"}
          %option Last occurrence
          %option Occurrences
          %option Users subscribed
          %option Page
    %h4 Filter
    #filterbox.panelbox
      %form.panel.panel-default
        %h5{"data-target" => "#collapse_page", "data-toggle" => "collapse"}
          Page
          %span.fa.fa-chevron-down
        #collapse_page.collapse
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Homepage
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Dashboard
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Settings
      %form.panel.panel-default
        %h5{"data-target" => "#collapse_os", "data-toggle" => "collapse"}
          Operating Systems
          %span.open.fa.fa-chevron-down
        #collapse_os.collapse
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Windows 8
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Windows 7