#page-background
  .col-lg-9.align-wizard
    .panel.panel-primary
      .panel-heading.text-center
        %h4 Create New Project
      .panel-body
        .row
          .stepwizard
            .stepwizard-row
              .stepwizard-step
                %a.btn.btn-primary.btn-circle.active-step.tab1{"data-toggle" => "tab", :href => "#step-1"} 1
                %p Add Website
              .stepwizard-step
                %a.btn.btn-default.btn-circle.tab2{"data-toggle" => "tab", :disabled => "disabled", :href => "#step-2"} 2
                %p Chose Platform
              .stepwizard-step
                %a.btn.btn-default.btn-circle.tab3{"data-toggle" => "tab", :disabled => "disabled", :href => "#step-3"} 3
                %p Configuration
        .rate-updates#current-website
          .tab-content.margintop0{:style => "border:none !important;"}
            #step-1.tab-pane.fade.active.in.padding20
              %form#addWebsite{:action => "", :method => "post"}
                .form-group
                  %label.control-label Name
                  %input#title.form-control{:placeholder => "Website name", :required => "required", :type => "text", :name => 'website[title]'}/
                .form-group
                  %label.control-label Domain
                  %input#domain.form-control{:placeholder => "http://www.domain.com", :required => "required", :type => "url", :name => 'website[domain]'}/
                %br
                %br
                %button.btn.btn-success.pull-left#valid_website{:style => "width: 150px;",:name => 2, :type => "submit"}
                  %i.icon-next
                  Next
                %a.btn.btn-warning.pull-right#custom-button{:style => "width: 150px;", :href => "#", :onclick => 'EpicLogger.logout()'}
                  %i.icon-next
                  Log out
              %br
              %br
              %br
                .progress
                  .progress-bar.progress-bar-info.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", :role => "progressbar", :style => "width: 1%"}
            #step-2.tab-pane.fade.padding20
              .col-md-12.pagecontainer
                .pagetitle.text-center
                  %h3 Installation and configuration
                .panel.panel-default.codeview
                  .panel-heading Client Configuration
                  .panel-body
                    %h5 To start sending events, configure your client with the following DSN value:
                    .events_dsn
                    / .codepanel
                    %br/
                    %h5 If this is a client that only needs public access (like epiclogger-js), you can use the following public DSN:
                    .codepanel
                      .public_dsn
                .panel.panel-default.tileview
                  .panel-heading Platforms
                  .panel-body#platform{:style => 'cursor: pointer'}
                    %a.tile.text-center.resize-a{:name => "javascript"}
                      %img.resize-img{:src => image_path("icon_javascript.png")}/
                      %span Javascript
                    %a.tile.text-center.resize-a{:name => "node-js"}
                      %img.resize-img{:src => image_path("icon_nodejs.png")}/
                      %span Node Js
                    %a.tile.text-center.resize-a{:name => "ruby"}
                      %img.resize-img{:src => image_path("icon_ruby.png")}/
                      %span Ruby
                    %a.tile.text-center.resize-a{:name => "python"}
                      %img.resize-img{:src => image_path("icon_python.png")}/
                      %span Python
                    %a.tile.text-center.resize-a{:name => "ios"}
                      %img.resize-img{:src => image_path("icon_ios.png")}/
                      %span IOS
                    %a.tile.text-center.resize-a{:name => "php"}
                      %img.resize-img{:src => image_path("icon_php.png")}/
                      %span PHP
                    %a.tile.text-center.resize-a{:name => "java"}
                      %img.resize-img{:src => image_path("icon_java.png")}/
                      %span Java
                .panel.panel-default.tileview#client-frameworks
                  .panel-heading Frameworks
                  .panel-body
                    %a.tile.text-center.resize-a{:href => "installations/show#rails-3"}
                      %img.resize-img{:src => image_path("icon_rails.png")}/
                      %span Rails 3
                    %a.tile.text-center.resize-a{:href => "installations/show#rails-4"}
                      %img.resize-img{:src => image_path("icon_rails.png")}/
                      %span Rails 4
                    %a.tile.text-center.resize-a{:href => "installations/show#django"}
                      %img.resize-img{:src => image_path("icon_django.png")}/
                      %span Django
                %div
                  %h5{:style => 'display:inline'} For more information on developing clients and the Sentry API, see the
                  %a{:href => '#'}documentation.
                %p
                %p
                .progress
                  .progress-bar.progress-bar-info.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", :role => "progressbar", :style => "width: 34%"}
                    Website added, pick your platform
            #step-3.tab-pane.fade.padding20
              .col-md-12.pagecontainer.tab#javascript
                .pagetitle.text-center
                  %h3 Configuring Javascript
                / .panel.panel-default.codeview
                /   .panel-heading Current site information
                /   .panel-body
                /     %table.table
                /       %thead
                /         %tr
                /           %th Website Title
                /           %th Website Domain
                /           %th App Key
                /           %th App Secret
                /       %tbody.websites
                /         %tr
                /           %td.title
                /           %td.domain
                /           %td.app_key
                /           %td.app_id
                .panel.panel-default.codeview
                  .panel-heading
                  .panel-body
                    %div
                      %h5{:style => 'display:inline'} Start by installing
                      %a{:href => 'https://github.com/EpicCoders/epiclogger-js'}epiclogger-js.
                    %br
                    %pre
                      %code
                        %p &lt;script src="//cdn.epicloggerjs.com/1.1.2/jquery,native/epiclogger.min.js"&gt;&lt;/script&gt;
                    %hr
                    %h5 Add the any URLs which will be logging errors in your project's settings under Client Security:
                    %br
                    %img{:src => asset_path("epiclogger-js.png")}
                    %hr
                    %h5 Configure the client
                    %pre
                      %code
                        .js_client_configuration
                    %h5 Add additional user context if it's available:
                    %pre
                      %code
                        %p Epiclogger.setUser({<br />email: '&lt;?php echo $_SESSION['email'] ?&gt;',<br />id: '&lt;?php echo $_SESSION['id'] ?&gt;'<br />});
                    %h5 Now call out to the epiclogger client to capture events:
                    %pre
                      %code
                        *record a simple message<br />Epiclogger.captureMessage('hello world!')<br /><br />*capture an exception<br />try {<br />  errorThrowingCode();<br />} catch(err) {<br />  Epiclogger.captureException(err);<br />}
                    %div
                      %h5{:style => 'display:inline'}For more information on other uses of Epiclogger with Javascript, please see the official documentation for
                      %a{:href => 'https://github.com/EpicCoders/epiclogger-js'}epiclogger-js.
              .col-md-12.pagecontainer.tab#node-js
                .pagetitle.text-center
                  %h3 Configuring Node.js
                .panel.panel-default.codeview
                  .panel-heading
                  .panel-body
                    %div
                      %h5{:style => 'display:inline'} Start by installing
                      %a{:href => 'https://github.com/EpicCoders/epiclogger-node'}epiclogger-node.
                    %br
                    %pre
                      %code
                        %p npm install epiclogger
                    %h5 Create an instance of the client:
                    %pre
                      %code
                        .node_client_configuration
                    %h5 You can also optionally install a default error handler to catch all exceptions:
                    %pre
                      %code
                        %p client.patchGlobal();
                    %div
                      %h5{:style => 'display:inline'} Ensure Node is run with
                      %code NODE_ENV=production:
                    %pre
                      %code
                        %p NODE_ENV=production node script.js
                    %h5 Now call out to the epiclogger client to capture events:
                    %pre
                      %code
                        *record a simple message<br />client.captureMessage('hello world!')<br /><br />*capture an exception<br />client.captureError(new Error('Uh oh!!'));
                    %div
                      %h5{:style => 'display:inline'}For more information on other uses of Epiclogger with Javascript, please see the official documentation for
                      %a{:href => 'https://github.com/EpicCoders/epiclogger-node'}epiclogger-node.
              .col-md-12.pagecontainer.tab#rails
                .pagetitle.text-center
                  %h3 Installation and configuration for Rails
              .col-md-12.pagecontainer.tab#ruby
                .pagetitle.text-center
                  %h3 Installation and configuration for Ruby
              .col-md-12.pagecontainer.tab#python
                .pagetitle.text-center
                  %h3 Installation and configuration for Python
              .col-md-12.pagecontainer.tab#ios
                .pagetitle.text-center
                  %h3 Installation and configuration for IOS
              .col-md-12.pagecontainer.tab#php
                .pagetitle.text-center
                  %h3 Installation and configuration for Php
              .col-md-12.pagecontainer.tab#java
                .pagetitle.text-center
                  %h3 Installation and configuration for Java
              .col-md-12.pagecontainer.tab#django
                .pagetitle.text-center
                  %h3 Installation and configuration for Django
              %button.btn.btn-primary#back{:style => "width: 150px;",:name => 2, :type => "button"}
                %i.icon-next
                Go Back
              %button.btn.btn-success.pull-right#finish{:style => "width: 150px;",:name => 0, :type => "button"}
                %i.icon-next
                Finish
              %p
              .progress
                .progress-bar.progress-bar-info.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", :role => "progressbar", :style => "width: 67%"}
                  Two steps behind, configure youre app and start