.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Add new website
    %br/
    .row
      .col-md-6
        .panel.panel-default
          .pane.panel-heading Enther website details below
          .panel-body
            %form#formWebsite{:action => "", :method => "post"}
              .form-group
                %label.control-label Name
                %input.form-control{:placeholder => "Website name", :required => "required", :type => "text", :name => 'website[title]'}/
              .form-group
                %label.control-label Domain
                %input.form-control{:placeholder => "http://www.domain.com", :required => "required", :type => "url", :name => 'website[domain]'}/
              .form-group
                %button.btn.btn-success.m-t-n-xs{:type => "submit"} Save
      .col-md-6
        .well.wel-sm
          %p After adding the website domain we are going to offer you a javascript code to add to your error pages so the users will get recorded when they receive errors.
          %p You will be able to get in contact with your users after the errors are received and send them messages to let them know the issues are resolved.