.panel-body{:style => "display:#{(@website.platform == 'Django' || @platform_tab == 'django') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Django, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/django/", :target => "_blank"} complete documentation here.