.panel-body{:style => "display:#{(@website.platform == 'Flask' || @platform_tab == 'flask') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Flask, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/flask/", :target => "_blank"} complete documentation here.