.panel-body{:style => "display:#{(@website.platform == 'Python' || @platform_tab == 'python') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Python, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/", :target => "_blank"} complete documentation here.