.panel-body{:style => "display:#{(@website.platform == 'Tornado' || @platform_tab == 'tornado') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Tornado, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/tornado/", :target => "_blank"} complete documentation here.