.col-lg-12
  .panel.panel-default
    .panel-heading Manage Integrations
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Integration
            %th Version
            %th.text-center Enabled
        %tbody
          %tr
            %td
              Auto Tag: Browsers
              %br
              %small
                By
                %a{:href => ""} Epiclogger Team
            %td 6.4.4
            %td.text-center
              %input{:type => "checkbox"}
          %tr
            %td
              Auto Tag: Interface Types
              %br
              %small
                By
                %a{:href => ""} Epiclogger Team
            %td 6.4.4
            %td.text-center
              %input{:type => "checkbox"}
          %tr
            %td
              Auto Tag: Operating Systems
              %br
              %small
                By
                %a{:href => ""} Epiclogger Team
            %td 6.4.4
            %td.text-center
              %input{:type => "checkbox"}
          %tr
            %td
              Auto Tag: URLs
              %br
              %small
                By
                %a{:href => ""} Epiclogger Team
            %td 6.4.4
            %td.text-center
              %input{:type => "checkbox"}
          %tr
            %td
              Mail
              %br
              %small
                By
                %a{:href => ""} Epiclogger TeamMail
            %td 6.4.4
            %td.text-center
              %input{:type => "checkbox"}