#installation.row
  .col-md-12.pagecontainer
    %br
    .bs-example{"data-example-id" => "simple-nav-justified"}
      %ul.nav.nav-pills.nav-justified#configuration-tabs
        %li{:name => 'details',:role => "presentation"}
          %a{:href => "#"}
            %h4 Details
        %li.active{:name => 'client configuration', :role => "presentation"}
          %a{:href => "#"}
            %h4 Client Configuration
        %li{:name => 'integrations', :role => "presentation"}
          %a{:href => "#"}
            %h4 Integrations
      %br
      #client-integrations
        %br
        %br
        .col-lg-12
          .panel.panel-default
            .panel-heading Manage Integrations
            .panel-body
              %table.table.table-striped
                %thead
                  %tr
                    %th{:style=> "width:1200px;"} Integration
                    %th Version
                    %th.text-center Enabled
                %tbody
                  %tr
                    %td
                      Auto Tag: Browsers
                      %br
                      %small
                        By
                        %a{:href => ""} Epiclogger Team
                    %td 6.4.4
                    %td.text-center
                      %input{:type => "checkbox"}
                  %tr
                    %td
                      Auto Tag: Interface Types
                      %br
                      %small
                        By
                        %a{:href => ""} Epiclogger Team
                    %td 6.4.4
                    %td.text-center
                      %input{:type => "checkbox"}
                  %tr
                    %td
                      Auto Tag: Operating Systems
                      %br
                      %small
                        By
                        %a{:href => ""} Epiclogger Team
                    %td 6.4.4
                    %td.text-center
                      %input{:type => "checkbox"}
                  %tr
                    %td
                      Auto Tag: URLs
                      %br
                      %small
                        By
                        %a{:href => ""} Epiclogger Team
                    %td 6.4.4
                    %td.text-center
                      %input{:type => "checkbox"}
                  %tr
                    %td
                      Mail
                      %br
                      %small
                        By
                        %a{:href => ""} Epiclogger TeamMail
                    %td 6.4.4
                    %td.text-center
                      %input{:type => "checkbox"}


    .col-lg-12#client-details
      %ul.nav.nav-tabs#details-tabs
        %li.active{:name => 'settings',:role => "presentation"}
          %a{:href => "#"} Settings
        %li{:name => 'notifications',:role => "presentation"}
          %a{:href => "#"} Notifications
        / %li{:name => 'rate limits',:role => "presentation"}
        /   %a{:href => "#"} Rate Limits
        / %li{:name => 'tags',:role => "presentation"}
        /   %a{:href => "#"} Tags
        %li{:name => 'api keys',:role => "presentation"}
          %a{:href => "#"} Api Keys
      %br
      #details-settings
        .col-lg-6
          .panel.panel-default
            .panel-heading Project Details
            .panel-body
              %form#formWebsite{:action => "", :method => "post"}
                .form-group
                  %label.control-label Name
                  %input#title.form-control{:placeholder => "Website name", :required => "required", :type => "text", :name => 'title'}/
                .form-group
                  %label.control-label Domain
                  %input#domain.form-control{:placeholder => "http://www.domain.com", :required => "required", :type => "url", :name => 'website'}/
                / %hr
                / .form-group
                /   %label.control-label Platforms*
                /   %br
                /   %select
                /     %option Javascript
                /     %option Python
                /     %option PHP
                /     %option Ruby
                /     %option Java
                /     %option Node.js
                /     %option IOS
                %hr
                .form-group
                  %label.control-label Role*
                  %br
                  %select#member-role
                    %option{:value => 'owner'} Owner
                    %option{:value => 'user'} User
                / %hr
                / .form-group
                /   %label.control-label Slug*
                /   %input.form-control{:required => "required", :type => "text", :name => "Slug"}
          / .panel.panel-default.codeview
          /   .panel-heading Event Settings
          /   .panel-body
          /     %small Treat an event as resolved if it hasn't been seen for this amount of time.
          /     %p
          /     .range-slider
          /       %input.input-range{:max => "168", :min => "0", :type => "range", :value => "0"}
          /         %span.range-value
          /     %br
          .form-group
            %button.btn.btn-success#add-website Save Changes
            %button.btn.btn-warning Remove Project
        .col-lg-6
          .panel.panel-default.codeview
            .panel-heading Project Details
            .panel-body
              .well.wel-sm
                %p After adding the website domain we are going to offer you a javascript code to add to your error pages so the users will get recorded when they receive errors.
                %p You will be able to get in contact with your users after the errors are received and send them messages to let them know the issues are resolved.
              / %p Configure origin URLs which Epiclogger should accept events from. This is used for communication with clients like raven-js.
              / %p This will restrict requirements based on the Origin and Referrer headers.
              / .form-group
              /   %label{:for => "comment"} Allowed Domains:
              /   %textarea#comment.form-control{:placeholder => "e.g. example.com or https://example.com", :rows => "7"}
              / %small Separate multiple entries with a newline.

      #details-notifications
        .col-lg-12
          .panel.panel-default
            .panel-heading Notifications
            .panel-body
              .col-lg-9
                %label Events
                .alert.alert-info
                  Epiclogger will automatically notify you whenever an event is first seen, or its state changes from resolved to unresolved.
                %p
                  %input{:name => "daily", :type => "checkbox", :value => "daily"}
                    Recieve daily reports
                %p
                  %input{:name => "realtime", :type => "checkbox", :value => "realtime"}
                    Receive realtime error emails
                %p
                  %input{:name => "new_event", :type => "checkbox", :value => "new_event"}
                    Receive emails when a new event happens
                %p
                  %input{:name => "frequent_event", :type => "checkbox", :value => "frequent_event"}
                    Recieve another email if an event/error happens more than 10 times in a certain time interval.
              .col-lg-3
                %button.btn.btn-primary.pull-right#save
                  %span.fa.fa-save
                  Save settings

      / #details-rate-limits
      /   .col-lg-9
      /     .panel.panel-default
      /       .panel-heading Rate Limits
      /       .panel-body
      /         %p With the nature of Epiclogger, sometimes the amount of data collected can be overwhelming. You can set rate limits per-project to ensure that a single flood of<br>errors won't affect any other projects utilizing Epiclogger.

      /         %p Rate limits apply on a per-minute basis, which means that they rollover at the start of a new minute. When you attempt to send an event and the project is over<br> its quota, the client will receive an HTTP 429 (Too Many Requests) response.
      /         %strong Note: The Epiclogger application is not configured to manage rate limits.

      /         %p
      /         %form#formWebsite{:action => "", :method => "post"}
      /           .form-group
      /             .col-lg-4
      /               %label.control-label Maximum events per minute
      /               %input#title.form-control{:placeholder => "90%", :required => "required", :type => "text", :name => 'name'}/
      /         %br
      /         %br
      /         %br
      /         %small This cannot be higher than the team (or system) allotted maximum. The value can be either a fixed number, or a percentage that is relative to the team's overall quota.
      /         %hr
      /         %button.btn.btn-primary Save Changes
      / #details-tags
      /   .col-lg-9
      /     .panel.panel-default
      /       .panel-heading Manage Tags
      /       .panel-default
      /         %p We have not yet recorded any tags for this project.
      #details-api-keys
        .col-lg-12
          .panel.panel-default
            .panel-heading Manage API Keys
            .panel-body
              %button.btn.btn-primary.pull-right#generateAppKey
                %span.fa.fa-key
                Generate new key
              #current-website.row
                %a.btn.btn-link{:href => "installations"}
                  %span.glyphicon.glyphicon-flag
                  Get help to install libraries
                %p
                .codeview
                  .codepanel
                    .col-lg-1
                      %h5 App Id:
                      %h5 App Key:
                    .col-lg-8
                      %h5.app_secret
                      %h5.app_key
                    .col-lg-3
                      %br
                      %span.btn.btn-danger.pull-right#revoke
                        Revoke
                %p
                .bs-example{"data-example-id" => "badges-in-pills"}
                  %ul.nav.nav-pills{:role => "tablist"}
                    %li.active{:role => "presentation"}
                      .label.label-success
                        %i.fa.fa-user
                        Members
                        .badge.members
                    %li.active{:role => "presentation"}
                      .label.label-success
                        %i.fa.fa-users
                        Subscribers
                        .badge.subscribers
                    %li.active{:role => "presentation"}
                      .label.label-danger
                        %i.fa.fa-wrench
                        Errors
                        .badge.errors


    .col-lg-12#client-configuration
      %ul.nav.nav-tabs#platforms-tabs
        %li.active{:name => 'all platforms',:role => "presentation"}
          %a{:href => "#"} All Platforms
        %li{:name => 'javascript',:role => "presentation"}
          %a{:href => "#"} Javascript
        %li{:name => 'python',:role => "presentation"}
          %a{:href => "#"} Python
        %li{:name => 'php',:role => "presentation"}
          %a{:href => "#"} PHP
        %li{:name => 'ruby',:role => "presentation"}
          %a{:href => "#"} Ruby
        %li{:name => 'node.js',:role => "presentation"}
          %a{:href => "#"} Node.js
        %li{:name => 'java',:role => "presentation"}
          %a{:href => "#"} Java
        %li{:name => 'ios',:role => "presentation"}
          %a{:href => "#"} IOS
      %br
      .col-md-12.pagecontainer#current-site
        .pagetitle
          %h3 Installation and configuration
        .panel.panel-default.codeview
          .panel-heading Current site information
          .panel-body
            %table.table
              %thead
                %tr
                  %th Website Title
                  %th Website Domain
                  %th App Key
                  %th App Secret
              %tbody.websites
                %tr
                  %td.title
                  %td.domain
                  %td.app_key
                  %td.app_secret
        .panel.panel-default.codeview
          .panel-heading Website Configuration
          %p Engage developers with users to solve errors. This is the js library that sends errors to our server. Use the iframe functionality to show the form,autofill the email address, removed unused css code.
          .panel-body#javascript
            .codepanel
              %p
                var _lopts = _lopts || [];
              %p
                _lopts.widget_domain    = "//localhost:8000/contact.html"; //the domain for where to send the data
              %p
                _lopts.widget_url       = "1213";  //the id of the user in their application
              %p
                _lopts.email = "rabotse@gmail.com";
              %p
                \// _lopts.theme            = "light";
              %p
                _lopts.modal_width      = "41%";
              %p
                _lopts.modal_height     = 532;
              %p
                \//_lopts.widget_container = "#iframe_widget";
              %p
                _lopts.custom_widget    = true;
              %p
                _lopts.side_btn         = true;
              %p
                _lopts.iframe_widget    = true;
              %p
                \//var local_script = "localhost:8000/loader.min.js";
              %p
                (function() {
              %p
                var loader = document.createElement('script'); loader.type = 'text/javascript'; loader.async = true;
              %p
                \//loader.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + local_script;
              %p
                loader.src = '../src/loader.min.js';
              %p
                var s = document.getElementsByTagName('script')[0];
              %p
                s.parentNode.insertBefore(loader, s);
              %p
                })();
          .panel-body#python
            %p Python here
          .panel-body#php
            %p PHP here
          .panel-body#ruby
            %p Ruby here
          .panel-body#java
            %p Java here
          .panel-body#node-js
            %p Node.js here
          .panel-body#ios
            %p IOS here
      .panel.panel-default.codeview#client-information
        .panel-heading Client Configuration
        .panel-body
          %p To start sending events, configure your client with the following DSN value:
          .codepanel
            %span.line https://451cf228845b497b919281b158209a59:157cbe7bf9d34b67b906dea4d3e849d0@app.feedbacker.com/12798
          %br/
          %p If this is a client that only needs public access (like raven-js), you can use the following public DSN:
          .codepanel
            %span.line https://3291842f716643f2968b11e3c86113f9@app.feedbacker.com/12798
      .panel.panel-default.tileview#client-platforms
        .panel-heading Platforms
        .panel-body#img-platforms
          %a.tile.text-center{:name => 'javascript',:href => "#"}
            %img{:src => image_path("icon_javascript.png")}/
            %span Javascript
          %a.tile.text-center{:name => 'python',:href => "#"}
            %img{:src => image_path("icon_python.png")}/
            %span Python
          %a.tile.text-center{:name => 'php',:href => "#"}
            %img{:src => image_path("icon_php.png")}/
            %span PHP
          %a.tile.text-center{:name => 'ruby',:href => "#"}
            %img{:src => image_path("icon_ruby.png")}/
            %span Ruby
          %a.tile.text-center{:name => 'node.js',:href => "#"}
            %img{:src => image_path("icon_nodejs.png")}/
            %span Node.js
          %a.tile.text-center{:name => 'java',:href => "#"}
            %img{:src => image_path("icon_java.png")}/
            %span Java
          %a.tile.text-center{:name => 'ios',:href => "#"}
            %img{:src => image_path("icon_ios.png")}/
            %span IOS

      .panel.panel-default.tileview#client-frameworks
        .panel-heading Frameworks
        .panel-body
          %a.tile.text-center{:href => "installations/show#rails-3"}
            %img{:src => image_path("icon_rails.png")}/
            %span Rails 3
          %a.tile.text-center{:href => "installations/show#rails-4"}
            %img{:src => image_path("icon_rails.png")}/
            %span Rails 4
          %a.tile.text-center{:href => "installations/show#django"}
            %img{:src => image_path("icon_django.png")}/
            %span Django