#installation.row
  .col-md-12.pagecontainer
    .pagetitle
    %h3 Installation and configuration
    .panel.panel-primary.codeview
      .panel-heading Current site information
      .panel-body
        .codepanel
          %table.table#current-website
            %thead
              %tr
                %th Website Title
                %th Website Domain
                %th App Key
                %th App Id
            %tbody.websites
              %tr
                %td.title
                %td.domain
                %td.app_key
                %td.app_id
    .panel.panel-primary.codeview
      .panel-heading Website Configuration
      %p Engage developers with users to solve errors. This is the js library that sends errors to our server. Use the iframe functionality to show the form,autofill the email address, removed unused css code.
      .panel-body
        .codepanel
          %p
            var _lopts = _lopts || [];
          %p
            _lopts.widget_domain    = "//localhost:8000/contact.html"; //the domain for where to send the data
          %p
            _lopts.widget_url       = "1213";  //the id of the user in their application
          %p
            _lopts.email = "rabotse@gmail.com";
          %p
            \// _lopts.theme            = "light";
          %p
            _lopts.modal_width      = "41%";
          %p
            _lopts.modal_height     = 532;
          %p
            \//_lopts.widget_container = "#iframe_widget";
          %p
            _lopts.custom_widget    = true;
          %p
            _lopts.side_btn         = true;
          %p
            _lopts.iframe_widget    = true;
          %p
            \//var local_script = "localhost:8000/loader.min.js";
          %p
            (function() {
          %p
            var loader = document.createElement('script'); loader.type = 'text/javascript'; loader.async = true;
          %p
            \//loader.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + local_script;
          %p
            loader.src = '../src/loader.min.js';
          %p
            var s = document.getElementsByTagName('script')[0];
          %p
            s.parentNode.insertBefore(loader, s);
          %p
            })();

