.panel-body{:style => "display:#{(@website.platform == 'Sinatra' || @platform_tab == 'sinatra') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Sinatra, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/ruby/integrations/rack/", :target => "_blank"} complete documentation here.