.col-md-12.pagecontainer
  .pagetitle.text-center
    = @tab
  .panel.panel-default.codeview
    .panel-heading.text-center Configure Javascript
    = render partial: 'settings/platforms/javascript/javascript'