#other
  .col-md-12.pagecontainer
    .pagetitle.text-center
      = @tab
    .panel.panel-default.codeview
      .panel-heading.text-center Configure your platform
      .panel-body
        %p Below we have listed the links to configure your chosen platform
        %p For in-depth instructions on integration with:
        %table.table
          %tr
            %td
              %ul.list-unstyled
                %li
                  %h4 Java
                  %ul
                    %li
                      %h5.inline For Java view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/raven", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Google App Engine view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/appengine/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Log4j view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/log4j/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Log4j 2 view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/log4j2/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Logback view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/logback/", :target => "_blank"}complete documentation here.
            %td
              %ul.list-unstyled
                %li
                  %h4 Node js
                  %ul
                    %li
                      %h5.inline For Node.js view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Express view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node/integrations/express", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Connect view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node/integrations/connect", :target => "_blank"}complete documentation here.
          %tr
            %td
              %ul.list-unstyled
                %li
                  %h4 Python
                  %ul
                    %li
                      %h5.inline For Python view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Django view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/django/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Flask view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/flask/", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Tornado view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/python/integrations/tornado/", :target => "_blank"}complete documentation here.
            %td
              %ul.list-unstyled
                %li
                  %h4 Ruby
                  %ul
                    %li
                      %h5.inline For Sidekiq view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/ruby/integrations", :target => "_blank"}complete documentation here.
                    %li
                      %h5.inline For Sinatra view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/ruby/integrations/rack/", :target => "_blank"}complete documentation here.
          %tr
            %td
              %ul.list-unstyled
                %li
                  %h4 IOS
                  %ul
                    %li
                      %h5.inline For Objective-C view the
                      %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/objc/", :target => "_blank"}complete documentation here.