.col-md-12.pagecontainer.tab#php_tab
  .pagetitle.text-center
    = @tab
  .panel.panel-default.codeview
    .panel-heading.text-center Configure PHP
    = render partial: 'settings/platforms/php/php'