.col-lg-12
  %p To send data to Epiclogger you will need to configure an SDK with a client key.
  .panel.panel-default
    .panel-heading.clearfix
      %h4.panel-title.pull-left{:style => "padding-top: 7.5px;"} API Keys
      .btn-group.pull-right
        = link_to revoke_website_path(id: @website.id), method: :get, :class => "btn btn-primary pull-right" do
          %span.fa.fa-key
          Generate new key
    .panel-body
      %table.table-condensed
        %tr
          %td App Key:
          %td= @website.app_key
          %td{:rowspan => '2'}
        %tr
          %td App Secret:
          %td= @website.app_secret
        = link_to "Revoke", revoke_website_path(id: @website.id), method: :get, :class => "btn btn-danger pull-right"