.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configurating IOS
  .panel.panel-default
    .panel-heading
    = render partial: 'websites/platforms/' + @matched_platform + '/' + @matched_tab