.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configurating Java
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li.active
        %a{:name =>"Java", :href => "#javatab"} Java
      %li
        %a{:name =>"Java Util Logging(Java)", :href => "#java-util-logging"} java.util.logging
      %li
        %a{:name =>"Log4j(Java)", :href => "#log4j"} log4j
      %li
        %a{:name =>"Log4j2(Java)", :href => "#log4j2"} log4j2
      %li
        %a{:name =>"Logback(Java)", :href => "#logback"} logback
  .panel.panel-default
    .panel-heading
    = render partial: 'websites/platforms/' + @matched_platform + '/' + @matched_tab