.col-md-12.pagecontainer#javascript.tab
  .pagetitle.text-center
    %h3 Configuring Javascript
  .panel.panel-default
    .panel-heading Website Configuration
    = render partial: 'websites/platforms/' + @matched_platform + '/' + @matched_tab