.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configuring Node.js
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li.active
        %a{:name =>"Node.js",:href => "#node-jstab"} Node.js
      %li
        %a{:name =>"Express(Node.js)", :href => "#express"} Express
      %li
        %a{:name =>"Connect(Node.js)",:href => "#connect"} Connect
  .panel.panel-default.codeview
    .panel-heading