.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configurating Python
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li.active
        %a{:name =>"Python", :href => "#pythontab"} Python
      %li
        %a{:name =>"Django(Python)", :href => "#django"} Django
      %li
        %a{:name =>"Flask(Python)", :href => "#flask"} Flask
      %li
        %a{:name =>"Tornado(Python)", :href => "#tornado"} Tornado