.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configuring Ruby
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li.active
        %a{:name =>"Ruby", :href => "#rubytab"} Ruby
      %li
        %a{:name =>"Rails 3(Ruby)", :href => "#rails-3"} Rails 3
      %li
        %a{:name =>"Rails 4(Ruby)", :href => "#rails-4"} Rails 4
      %li
        %a{:name =>"Sinatra", :href => "#sinatra"} Sinatra
      %li
        %a{:name =>"Sidekiq", :href => "#sidekiq"} Sidekiq
  .panel.panel-default.codeview
    .panel-heading