.col-lg-6
  %hr
  %h4 #{@group.message}
  %hr
  %p A event has just occurred at #{@group.created_at}.
  %p{:style => 'color: gray'} Error message
  %p #{@group.message}
  %p{:style => 'color: gray'} Culprit
  %p #{@group.culprit}