Hi,
%p You now have access to #{@website[:domain]} website. The invitation was sent by #{@inviter.name}.
%p
  To accept invitation, just follow this link: #{link_to 'Accept Invitation', accept_invite_url(id: @invite.token)} and complete the registration form.