Hi,
You now have access to http://epic-coders.com website. The invitation was sent by Panioglo Sergiu.
To accept invitation, just follow this link: <a href="http://localhost:3000/invites/vekDThxIg_CZZI5CbXPsRQ/accept">Accept Invitation</a> and complete the registration form.

