Hi,
You now have access to #{@website[:domain]} website. The invitation was sent by #{@inviter.name}.
To accept invitation, just follow this link: #{link_to 'accept Invitation', accept_invite_url(id: @invite.token)} and complete the registration form.