Hi, my name is #{@member.name},
%p You where invited to subscribe to my website '#{@website[:domain]}'.
%p Follow the link to accept the invitation

%p This email was sent because you subscribed to an error on our website.