.highcharts-container{width:99% !important;}

#frame .accordion-heading, #frame .accordion-toggle:hover, #frame .accordion-heading .accordion-toggle.active {
  background: none repeat scroll 0% 0% transparent;
}
#frame .accordion-heading {
  border-bottom: 0px none;
  font-size: 16px;
}

#frame .accordion-heading .accordion-toggle {
  display: block;
  padding: 2px 0px;
  color: #222;
  outline: medium none !important;
  text-decoration: none;
}

#frame .accordion-heading .accordion-toggle > i {
  float:right;
  cursor: pointer;
  background-color:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  color:#000;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

#frame .accordion-heading .accordion-toggle > i:hover {background-color:#f5f5f5;}

#frame .accordion-heading .accordion-toggle.active i{background-color: #337ab7; color:#fff;}

#frame{
  .heading{
    .file{
      padding-left:5px;
    }
  }
  pre{
    background-color:#ffffff;
    code{
      p{
        padding:0px;
        margin: 0;
      }

      .error-line{
        background-color:#ffecec;
        padding-top: 5px;
      }
      .info-line{
        background-color: #E0FFFF;
        padding-top: 5px;
      }
      .warn-line{
        background-color: #FFF8C6;
        padding-top: 5px;
      }
      .debug-line{
        background-color: #EFEEEC;
        padding-top: 5px;
      }
      .log-line{
        background-color: #C3FDB8;
        padding-top: 5px;
      }
    }
  }
}

.integrations{
  .text{
    line-height:40px;
  }
}

.provider-button {
  background: white;
  border: 1px solid #cccccc;
  color: #3b3f43;
  padding: 0px 5px;
  line-height:38px;
  span {
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    margin-right:5px;
    border-right: 1px solid #cccccc;
  }
  .github-button{
    background: asset-url("icon_github.png") no-repeat center;
  }
  .intercom-button{
    background: asset-url("icon_intercom.png") no-repeat center;
  }
  &:hover {
    background: #eeeeee;
  }
}

#error-details {
  word-wrap: break-word;
  .header {
    @include error-header();
    .times_seen{
      font-size: 30px;
      height: $header-height;
      text-align: center;
      border-right: 1px dashed #ccc;
      line-height: $header-height;
      padding: 0;
    }
    .message{
      padding: 14px 0 0;
      font-size: $font-size-large;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // float:left;
    }
    .btn-group{margin-right:10px;height:100%;}
    .resolve{
      margin-right:7%;
      margin-top:15px;
      margin-bottom:20px;
    }
  }
  .panel-body.expand-box {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    .read-more{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      margin: 0; padding: 15px 0;
      @include gradient-vertical(rgba(255,255,255,0), #fff);
    }
  }
  .error-content{
    padding:15px 0;

    .broadcast{
      .subscribers{

        img{
          border-radius:50%;
          overflow:hidden;
        }

        .notify{
          margin-top:15px;

          textarea{
            width:100%;
            min-height:120px;
            resize:none;
            overflow-y:auto;
            border:1px solid #ddd;
            border-radius:4px;
            padding: 10px;
            box-sizing: border-box;
          }

          .broadcast-textarea{
            padding-left:0px;
          }

          button{
            margin-top:15px;
            float:right;
          }
        }
      }
    }
  }
}
