.muted{
  color:#bdbdbd;
}

.invisible{
  visibility:hidden;
}

@media (max-width: 350px){
  .content-partial{
    left:270px;
  }

  .content-fullwidth{
    left:310px;
  }

  .content-mobile{
    left:0px;
  }

  .error-menu-vertical {
    .icon-list{
      li{
        height:40px;
        a{
          line-height:40px;
          font-size:18px;
        }
      }
    }
  }
}

.container-fluid {
  margin:0px;
  height: 100%;
  background: white;
  > .row {
    height: 100%;
  }


  .sidepanel {
    background: white;
    border-left: 1px solid #dddddd;
    height: 100%;
    padding: 0;
    color: #333333;


    h4 {
      padding: 20px 20px 0 20px;
      height: 40px;
      margin: 0;
    }
    .panelbox {
      padding: 0 20px;
      margin-top: 10px;
      color: #333333;
      form, .panel {
        margin-top: 10px;
      }
      form h5, .panel h5 {
        font-weight: 500;
        font-size: 12px;
        margin: 0;
        background: #eeeeee;
        padding: 10px;
      }
      form h5 span, .panel h5 span {
        float: right;
      }
      form label, .panel label {
        padding-right: 5px;
      }
      form > div, .panel > div {
        padding: 0 10px;
      }
      &.propertybox {
        border-bottom: 1px solid #cccccc;
        padding: 10px 5px;
        margin: 0 15px;
        p {
          margin: 0;
          font-size: 14px;
          line-height: 1.8;
          color: #444444;
          strong {
            display: block;
            font-size: 12px;
            margin-top: 5px;
            line-height: 0.9;
            color: black;
          }
        }
        &.faces {
          img {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            display: block;
            float: left;
            margin: 0 2px 2px 0;
          }
          span {
            display: block;
            clear: both;
            line-height: 1;
            font-weight: 500;
          }
          p strong {
            margin-bottom: 2px;
          }
        }
        &.inputs p strong {
          margin-bottom: 2px;
        }
      }
    }
  }
  .pagecontainer {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    &#grouped-issuescontainer {
      padding: 0;
      margin-top: -18px;
    }
    .pagetitle {
      border-bottom: 1px solid #cccccc;
      margin-bottom: 10px;
    }
    .codeview .codepanel {
      border: none;
      margin: 0;
      border-radius: 0;
      overflow-x: auto;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 12px;
      background: #eeeeee;
      padding: 5px 0;
      span.line {
        white-space: pre;
        word-break: keep-all;
        word-wrap: normal;
        padding: 0 10px;
        display: block;
        &.error {
          display: block;
          background: #da4141;
          color: white;
          padding: 2px 10px;
          span.char {
            display: inline-block;
            border: 1px solid white;
            border-top: none;
            margin: -2px 2px;
            border-bottom: 0;
            padding: 2px;
            background: white;
            color: #da4141;
          }
        }
      }
    }
    .tileview .panel-body {
      padding: 0 10px 10px 10px;
      .tile {
        display: block;
        height: 108px;
        width: 96px;
        color: #8d92a0;
        border-radius: 6px;
        margin-top: 10px;
        transition: all 60ms ease-in-out;
        border: 1px solid white;
        text-decoration: none;
        float: left;
        &:hover {
          background: #f6f6f6;
          border-color: #e6e6e6;
        }
        img {
          width: 58px;
          height: 58px;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }
  #missing-errors {
    text-align: center;
  }
  .errors_buttons {
    ul{
      position: relative;
      z-index: 1;
      top: 50px;
      left: -45px;
      li{
        display: inline-block;
      }
    }
  }
  #grouped-issues {
    &:before {
      content: " ";
      display: block;
      background: asset-url("line.png") repeat-y 123px 0;
      height: 15px;
      margin: 0 10px;
    }
    > a {
      background: asset-url("line.png") repeat-y 133px 0;
      min-height: 80px;
      height: 80px;
      overflow: hidden;
      display: block;
      margin: 0;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 80ms ease-in-out;
      button{
        display: block;
        border: 4px solid white;
        border-radius: 10px;
        float: left;
        position: relative;
        margin-left: 99px;
        top: 12px;
        transition: all 80ms ease-in-out;
      }
      &:hover, &.large {
        background-color: #f9f9f9;
        box-shadow: 0 0 3px -1px #31334a;
      }
      &:hover:before, &.large:before {
        border-color: #f9f9f9;
      }
      .left-id {
        position: fixed;
        margin-left:33px;
        span{
          text-align: center;
          font-size: 40px;
        }
      }
      .left {
        margin: 20px 25px 0 15px;
        margin-top: 15px;
        width: 300px;
        margin-left: 25px;
        float: left;
      }
      .right {
        float: right;
        width: 140px;
        text-align: center;
        padding-top: 10px;
      }
      .main {
        margin: 20px 25px 0 500px;
      }
      .group-right {
        margin: 20px 25px 0 15px;
        margin-top: 15px;
        width: 200px;
        margin-left: 25px;
        float: left;
      }
      span {
        display: block;
        font-size: 16px;
        transition: all 80ms ease-in-out;
        &.page_title {
          margin_top: 10px;
          font-weight: 500;
          padding-left: 16px;
        }
        &.message{
          font-weight: bold;
        }
        &.occurrences, &.users_count {
          font-size: 12px;
          padding-left: 16px;
          color: #555555;
        }
        &.error {
          font-weight: 500;
          height: 22px;
          min-height: 22px;
          margin-bottom: 17px;
          overflow: hidden;
        }
        &.type {
          font-size: 12px;
          color: #555555;
          font-style: italic;
        }
        &.language {
          font-size: 12px;
          color: #555555;
          font-style: italic;
        }
        &.last {
          font-size: 12px;
          color: #999999;
          text-align: center;
          font-style: italic;
        }
        &.last_occurrence {
          font-size: 14px;
          text-align: center;
        }
        &.time {
          font-size: 14px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
  #pagination {
    .side {
      height: 39px;
      border-left: 2px solid #cccccc;
      border-bottom: 2px solid #cccccc;
      border-radius: 0 0 0 6px;
      margin-left: 148px;
    }
    .buttons {
      padding-top: 20px;
      a {
        text-align: center;
        span {
          display: block;
          margin: 4px 0;
        }
      }
    }
  }
  #grouped-issuedetails {
    button.btn-primary {
      margin-left: 10px;
    }
    .checkbox {
      padding: 0;
      margin: 0;
    }
    #activitystream p {
      padding: 0;
      margin: 0;
      height: 40px;
      overflow: hidden;
      span {
        &.time {
          display: inline-block;
          float: left;
          width: 55px;
          border-right: 2px solid #cccccc;
          height: 40px;
          padding: 11px 5px;
          font-size: 12px;
          font-weight: 500;
          color: #666666;
        }
        &.activity {
          display: inline-block;
          padding: 10px 15px;
          width: 80%;
          width: calc(100% - 60px);
        }
      }
      &.resolved span.activity:before, &.error span.activity:before {
        display: block;
        content: " ";
        width: 10px;
        height: 10px;
        border: 2px solid white;
        background: white;
        border-radius: 8px;
        float: left;
        margin-left: -21px;
        margin-top: 4px;
        background: #da4141;
      }
      &.resolved span.activity:before {
        background: #5cb85c;
      }
    }
  }
}

.list_errors{
  margin-left: -1%;
  margin-right: -1%;
  height: 11%;
  background:#EFEFF2;
  .current_id{
    font-size: 280%;
    margin-left: 2%;
    font-color: #0E0E10;
  }
  .error_location{
    font-color: #0E0E10;
    font-size: 120%;
    margin-left: 10%;
    margin-top: -4%;
  }
  .error_subscribers{
    margin-left: 10%;
  }
  .error_platform{
    margin-left: 13.5%;
    margin-top: -1.21%;
  }
  .error_message{
    margin-left: 16.4%;
    margin-top: -3.15%;
  }
  .errors_star{
    margin-left:7.3%;
    margin-top: -3.1%;
  }
  .dashed_line{
    display: block;
    margin-top: -4.6%;
    border-left: 2px dotted #A9A9A9;
    margin-left: 8%;
    height: 100%;
  }
  .error_datetime{
    display: block;
    margin-left: 51%;
    margin-top: -3.7%;
  }
  .error_switch{
    margin-left: 55%;
    margin-top: -0.7%;
  }
}

.multiplepanel{
  padding:0px;

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding:0px;}

  .col-lg-3{
    width:31%;
  }
}

#truncate {
  color:blue;
  cursor:pointer;
}
#truncate:hover {
  color:black;
}

.modal-content {
  margin-top: 150px;
  margin-left: -200px;
  width: 1000px;
}

.modal-backdrop{
  opacity: 0.95 !important;
}

.resize-img{
  height: auto;
  width: auto;
  display: block;
  margin:0 auto;
  max-width: 50px;
  max-height: 50px;
}

.resize-a{
  height: auto;
  width: auto;
  display: inline-block;
  padding:0.1em 1em;
  max-width: 98px;
  max-height: 150px;
}

#page-background{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  background-color: #1d1e22;
}

.align-wizard{
  margin-top: 5%;
  margin-left: 17%;
}