.muted{
  color:#bdbdbd;
}

.error_sidebar{
  width: 450px;
  float: left;
  height: 100%;
  background-color:white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 1px 0px 1px 1px rgba(189,189,189,0.5);
  -moz-box-shadow: 1px 0px 1px 1px rgba(189,189,189,0.5);
  box-shadow: 1px 0px 1px 1px rgba(189,189,189,0.5);

  .sidebar_header{
    text-align:left;
    box-shadow: 0px 3px 2px -3px #bdbdbd;
    height:60px;

    button{
      float:left;
      width:40%;
      height:100%;
      border-radius:0;
      background-color:#bdc3c7;
      border:none;
    }

    span{
      background-color:#d4d8db;
      line-height:60px;
      text-align:center;
      vertical-align:middle;
      float:left;
      width:20%;
      height:100%;
      border-left:1px solid grey;
      border-right:1px solid grey;
    }

    .fa-bars{
      display:none;
    }

    
  }

  .sidebar_elements{

    .current_issue{
      background-color: #f7fbfe;
      border-right:4px solid #3c98fc;
    }

    .sidebar-container{
      box-shadow: 0px 4px 2px -4px #bdbdbd;

      .sidebar-container-header{
        height:30%;


        i:before{
          font-size:28px;
          padding:5px;
          margin-left:20px;
        }

        span{
          margin-right:10px;
          margin-top:10px;
          font-size:12px;
          font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
          font-weight:bold;
        }

      }

      .sidebar-container-content{
        height:100%;
        color:#777777;
        margin-top:5px;
        padding-left:10px;

        p{
          margin:0px;
          margin-bottom:3px;
          padding:0px;
          color:#0086cf;
          font-size:14px;
          font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        }

      }
    }
  }
}

.display-sidebar{
  display:inline !important;
  position:absolute;
  z-index:2;
}

.list-is-not-visible{
  display:none;
}

.toggle-errors{
  display:none !important;
}

.toggle-sidebar-mobile{
  display:none !important;
  float:left;
  margin:0px;
}

.minimised-sidebar{
  width:60px;
  overflow:hidden;

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:transparent;
  }

  .website-list{
    position:absolute;
    left:60px;
    top:78px;
    z-index:3;

    .selectbox{
      p{
        display:table-cell;
        vertical-align:middle;
        height:60px;
        width:140px;
      }
    }
  }

  .user-sidebar{
    text-align:center;
    img{
      width:30px;
      height:30px;
      float:none;
    }
  }

  .navigation-icons{
    ul{
      li{
        a{
          width:60px;
          height:60px;
          text-align:center;

          i{
            font-size:22px;
            margin-left:3px;
            margin-top:7px;
          }
        }
      }
    }
  }
}


@media (max-width:1170px) and (min-width:992px){
  .error_sidebar{
    display:none;
  }

  .toggle-errors{
    display:block !important;
  }

  .sidebar_header{
    text-align:left;
    box-shadow: 0px 3px 2px -3px #bdbdbd;
    height:60px;

    .fa-bars{
      display:inline;
    }

    button{
      float:left;
      width:30%;
      height:100%;
      border-radius:0;
      background-color:#bdc3c7;
      border:none;
    }

    span{
      width:20%;
    }
  }
}

@media (max-width: 992px){
  .minimised-sidebar{
    display:none;
    height:100%;
    float:left;
    z-index:2;
  }

  .error_sidebar{
    display:none;
    position:absolute;
    float:left;
    width:calc(100% - 60px);
    z-index:2;
  }

  .hidesidebars{
    display:inline;
  }

  .hidecontent{
    display:none;
  }

  .toggle-sidebar-mobile{
    display:block !important;
  }
}

#maincontainer {
  margin-left: 220px;
  height: 100%;
  background: white;
  > .row {
    height: 100%;
  }


  .sidepanel {
    background: white;
    border-left: 1px solid #dddddd;
    height: 100%;
    padding: 0;
    color: #333333;


    h4 {
      padding: 20px 20px 0 20px;
      height: 40px;
      margin: 0;
    }
    .panelbox {
      padding: 0 20px;
      margin-top: 10px;
      color: #333333;
      form, .panel {
        margin-top: 10px;
      }
      form h5, .panel h5 {
        font-weight: 500;
        font-size: 12px;
        margin: 0;
        background: #eeeeee;
        padding: 10px;
      }
      form h5 span, .panel h5 span {
        float: right;
      }
      form label, .panel label {
        padding-right: 5px;
      }
      form > div, .panel > div {
        padding: 0 10px;
      }
      &.propertybox {
        border-bottom: 1px solid #cccccc;
        padding: 10px 5px;
        margin: 0 15px;
        p {
          margin: 0;
          font-size: 14px;
          line-height: 1.8;
          color: #444444;
          strong {
            display: block;
            font-size: 12px;
            margin-top: 5px;
            line-height: 0.9;
            color: black;
          }
        }
        &.faces {
          img {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            display: block;
            float: left;
            margin: 0 2px 2px 0;
          }
          span {
            display: block;
            clear: both;
            line-height: 1;
            font-weight: 500;
          }
          p strong {
            margin-bottom: 2px;
          }
        }
        &.inputs p strong {
          margin-bottom: 2px;
        }
      }
    }
  }
  .pagecontainer {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    &#grouped-issuescontainer {
      padding: 0;
    }
    .pagetitle {
      border-bottom: 1px solid #cccccc;
      margin-bottom: 10px;
    }
    .codeview .codepanel {
      border: none;
      margin: 0;
      border-radius: 0;
      overflow-x: auto;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 12px;
      background: #eeeeee;
      padding: 5px 0;
      span.line {
        white-space: pre;
        word-break: keep-all;
        word-wrap: normal;
        padding: 0 10px;
        display: block;
        &.error {
          display: block;
          background: #da4141;
          color: white;
          padding: 2px 10px;
          span.char {
            display: inline-block;
            border: 1px solid white;
            border-top: none;
            margin: -2px 2px;
            border-bottom: 0;
            padding: 2px;
            background: white;
            color: #da4141;
          }
        }
      }
    }
    .tileview .panel-body {
      padding: 0 10px 10px 10px;
      .tile {
        display: block;
        height: 108px;
        width: 96px;
        color: #8d92a0;
        border-radius: 6px;
        margin-top: 10px;
        transition: all 60ms ease-in-out;
        border: 1px solid white;
        text-decoration: none;
        float: left;
        &:hover {
          background: #f6f6f6;
          border-color: #e6e6e6;
        }
        img {
          width: 58px;
          height: 58px;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }
  #missing-errors {
    text-align: center;
  }
  #grouped-issues {
    &:before {
      content: " ";
      display: block;
      background: asset-url("line.png") repeat-y 19px 0;
      height: 25px;
      margin: 0 10px;
    }
    > a {
      background: asset-url("line.png") repeat-y 29px 0;
      min-height: 80px;
      height: 80px;
      overflow: hidden;
      display: block;
      margin: 0;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 80ms ease-in-out;
      &.warning:before, &.error:before {
        background: #f0ae47;
        content: " ";
        display: block;
        border: 4px solid white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        float: left;
        position: relative;
        top: 18px;
        margin-right: -20px;
        transition: all 80ms ease-in-out;
      }
      &.warning:before:hover {
        color: blue;
      }
      &.error:before {
        &:hover {
          color: blue;
        }
        background: #da4141;
      }
      &:hover, &.large {
        background-color: #f9f9f9;
        box-shadow: 0 0 3px -1px #31334a;
      }
      &:hover:before, &.large:before {
        border-color: #f9f9f9;
      }
      .left {
        margin: 20px 25px 0 15px;
        margin-top: 15px;
        width: 200px;
        margin-left: 25px;
        float: left;
      }
      .right {
        float: right;
        width: 140px;
        text-align: center;
        padding-top: 10px;
      }
      .main {
        margin: 20px 25px 0 250px;
      }
      .group-right {
        margin: 20px 25px 0 15px;
        margin-top: 15px;
        width: 200px;
        margin-left: 25px;
        float: left;
      }
      span {
        display: block;
        font-size: 16px;
        transition: all 80ms ease-in-out;
        &.page_title {
          margin_top: 10px;
          font-weight: 500;
          padding-left: 16px;
        }
        &.occurrences, &.users_count {
          font-size: 12px;
          padding-left: 16px;
          color: #555555;
        }
        &.error {
          font-weight: 500;
          height: 22px;
          min-height: 22px;
          margin-bottom: 17px;
          overflow: hidden;
        }
        &.type {
          font-size: 12px;
          color: #555555;
          font-style: italic;
        }
        &.language {
          font-size: 12px;
          color: #555555;
          font-style: italic;
        }
        &.last {
          font-size: 12px;
          color: #999999;
          text-align: center;
          font-style: italic;
        }
        &.last_occurrence {
          font-size: 14px;
          text-align: center;
        }
        &.time {
          font-size: 14px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
  #pagination {
    .side {
      height: 39px;
      border-left: 2px solid #cccccc;
      border-bottom: 2px solid #cccccc;
      border-radius: 0 0 0 6px;
      margin-left: 44px;
    }
    .buttons {
      padding-top: 20px;
      a {
        text-align: center;
        span {
          display: block;
          margin: 4px 0;
        }
      }
    }
  }
  #grouped-issuedetails {
    button.btn-primary {
      margin-left: 10px;
    }
    .checkbox {
      padding: 0;
      margin: 0;
    }
    #activitystream p {
      padding: 0;
      margin: 0;
      height: 40px;
      overflow: hidden;
      span {
        &.time {
          display: inline-block;
          float: left;
          width: 55px;
          border-right: 2px solid #cccccc;
          height: 40px;
          padding: 11px 5px;
          font-size: 12px;
          font-weight: 500;
          color: #666666;
        }
        &.activity {
          display: inline-block;
          padding: 10px 15px;
          width: 80%;
          width: calc(100% - 60px);
        }
      }
      &.resolved span.activity:before, &.error span.activity:before {
        display: block;
        content: " ";
        width: 10px;
        height: 10px;
        border: 2px solid white;
        background: white;
        border-radius: 8px;
        float: left;
        margin-left: -21px;
        margin-top: 4px;
        background: #da4141;
      }
      &.resolved span.activity:before {
        background: #5cb85c;
      }
    }
  }
}

.multiplepanel{
  padding:0px;

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding:0px;}

  .col-lg-3{
    width:31%;
  }
}

#truncate {
  color:blue;
  cursor:pointer;
}
#truncate:hover {
    color:black;
}

@media all and (max-width: 992px) {
  #maincontainer {
    margin: 0;
    height: auto;
  }
}

@media all and (max-width: 992px) {
  #maincontainer > .row {
    height: auto;
  }
}

@media all and (max-width: 992px) {
  #maincontainer .sidepanel {
    height: auto;
    padding-bottom: 10px;
    border-left: none;
  }
}

@media (max-width: 992px) {
  #maincontainer .pagecontainer {
    border-bottom: 1px solid #dddddd;
  }
}

@media (max-width: 768px) {
  #maincontainer .pagecontainer .tileview .panel-body .tile {
    width: 88px;
  }
}

@media (min-width: 1500px) {
  #maincontainer .pagecontainer .tileview .panel-body .tile {
    width: 109px;
    height: 118px;
  }
}

@media (min-width: 1500px) {
  #maincontainer .pagecontainer .tileview .panel-body .tile img {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
  }
}

@media all and (max-width: 768px) {
  #maincontainer #grouped-issues > div {
    height: auto;
    min-height: 0;
  }
}

@media all and (max-width: 768px) {
  #maincontainer #grouped-issues > div .left {
    width: auto;
    float: none;
  }
}

@media all and (max-width: 768px) {
  #maincontainer #grouped-issues > div .right {
    display: none;
  }
}

@media all and (max-width: 768px) {
  #maincontainer #grouped-issues > div .main {
    margin: 0;
    padding-left: 30px;
  }
}

@media all and (max-width: 768px) {
  #maincontainer #grouped-issues > div span {
    display: inline;
    padding: 0;
  }
}


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.stepwizard-content{
 border:none !important;
 float: left !important;
 margin-top: 0 !important;
 padding: 15px !important;
 width: 100% !important;

}

.modal-content {
  margin-top: 150px;
  margin-left: -200px;
  width: 1000px;
}

.modal-backdrop{
  opacity: 0.95 !important;
}

.resize-img{
  height: auto;
  width: auto;
  display: block;
  margin:0 auto;
  max-width: 50px;
  max-height: 50px;
}

#page-background{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  background-color: #707070;
}

.align-wizard{
  margin-top: 5%;
  margin-left: 12%;
}

.resize-a{
  height: auto;
  width: auto;
  display: inline-block;
  padding:0.1em 1em;
  max-width: 98px;
  max-height: 150px;
}

select {
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #A0A0A0;
  line-height: 1;
  outline: 0;
  color: black;
  border-color: #A0A0A0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(#A0A0A0, #A0A0A0) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#A0A0A0, #A0A0A0) no-repeat;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}
