.panel-body{:style => "display:#{(@website.platform == 'Google app engine' || @platform_tab == 'google_app_engine') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with App Engine, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/appengine/", :target => "_blank"} complete documentation here.