.panel-body{:style => "display:#{(@website.platform == 'Java' || @platform_tab == 'java') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Java, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/raven/", :target => "_blank"} complete documentation here.