.panel-body{:style => "display:#{(@website.platform == 'Logback' || @platform_tab == 'logback') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Logback, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/logback/", :target => "_blank"} complete documentation here.