.panel-body{:style => "display:#{(@website.platform == 'Log4j 2' || @platform_tab == 'log4j_2') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Log4j 2, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/log4j2/", :target => "_blank"} complete documentation here.