.panel-body{:style => "display:#{(@website.platform == 'Log4j' || @platform_tab == 'log4j') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Log4j, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/java/modules/log4j/", :target => "_blank"} complete documentation here.