.list_errors
  .current_id
    %p 22
  .dashed_line
  .error_location
    %strong Dashboard
  .error_subscribers
    %small 20 users
  .error_platform
    %small Javascript
  .error_message
    %p WrongBackend incorrect authentication service: * split(*
  %button.btn.btn-xs.btn-warning.glyphicon.glyphicon-star.errors_star
  .error_datetime
    %p Today, 14:31 PM
  .form-group.error_switch
    %button.btn.btn-xs.btn-default.glyphicon.glyphicon-menu-left
    %button.btn.btn-xs.btn-default.glyphicon.glyphicon-menu-right
.col-lg-12
  %h3 Activity grapth #TODO
  .col-md-8
    .panel.panel-default
      .panel-heading Exception
      .panel-body
  .col-md-4
    .panel.panel-default
      .panel-heading Actions
      .panel-body
  .col-md-8
    .panel.panel-default
      .panel-heading Broadcast
      .panel-body
        %form{:role => "form", :style => "width:800px"}
          .form-group
            %label{:for => "comment"} Norify Subscribers:
            %textarea#notifysub.form-control{:rows => "5"}
          .form-group.pull-right
            %input{:type => 'checkbox'}
            %span email users &nbsp&nbsp
            %button.btn.btn-primary#notify Send
  .col-md-4
    .panel.panel-default
      .panel-heading Details
      .panel-body