.panel-body{:style => "display:#{(@website.platform == 'Connect' || @platform_tab == 'connect') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Connect, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node/integrations/connect/", :target => "_blank"} complete documentation here.