.panel-body{:style => "display:#{(@website.platform == 'Express' || @platform_tab == 'express') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Express, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node/integrations/express/", :target => "_blank"} complete documentation here.