.panel-body{:style => "display:#{(@website.platform == 'Node js' || @platform_tab == 'node_js') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Node, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/node", :target => "_blank"} complete documentation here.