.panel-body
  %div
    %h5{:style => 'display:inline'} Start by installing
    %a{:href => 'https://github.com/EpicCoders/epiclogger-java'}epiclogger-java.
  %h5 The easiest way to add the Raven dependency is with Maven:
  %pre
    %code.language-html
      =preserve do
        :escaped
          <dependency>
            <groupId>net.kencochrane.raven</groupId>
            <artifactId>raven</artifactId>
            <version>4.0</version>
          </dependency>
  %h5 You'll need to configure the SentryAppender in your logging configuration:
  %pre
    %code.language-html
      =preserve do
        :escaped
          <configuration>
          <appender name="Sentry" class="net.kencochrane.raven.logback.SentryAppender">
              <dsn>
                  https://#{@website.app_key}:#{@website.app_key}@test-sentry89.herokuapp.com/#{@website.id}
              </dsn>
          </appender>

          <root level="error">
              <appender-ref ref="Sentry"/>
          </root>
      </configuration>
  %hr
  %div
    %h5{:style => 'display:inline'}For more information on other uses of Epiclogger with Java, please see the
    %a{:href => 'https://github.com/EpicCoders/epiclogger-php'}official documentation for epiclogger-java.