/ #current-website.row
/   .col-md-12.pagecontainer
/     .pagetitle
/       %h3 Site Settings
/     .clearfix
/     %br/
/     %a.btn.btn-link{:href => "installations"}
/       %span.glyphicon.glyphicon-flag
/       Get help to install libraries
/     .panel.panel-default
/       .panel-heading
/         API Keys
/         %button.btn.btn-primary.pull-right#generateAppKey
/           %span.fa.fa-key
/           Generate new key
/       .panel-body
/         .codeview
/           .codepanel
/             .col-lg-1
/               %h5 App Id:
/               %h5 App Key:
/             .col-lg-8
/               %h5.app_secret
/               %h5.app_key
/             .col-lg-3
/               %br
/               %span.btn.btn-danger.pull-right#revoke
/                 Revoke
/     .bs-example{"data-example-id" => "badges-in-pills"}
/       %ul.nav.nav-pills{:role => "tablist"}
/         %li.active{:role => "presentation"}
/           .label.label-success
/             %i.fa.fa-user
/             Members
/             .badge.members
/         %li.active{:role => "presentation"}
/           .label.label-success
/             %i.fa.fa-users
/             Subscribers
/             .badge.subscribers
/         %li.active{:role => "presentation"}
/           .label.label-danger
/             %i.fa.fa-wrench
/             Errors
/             .badge.errors