.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3 Add member to your website
    %br/
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading Send an email invitation to:
          .panel-body
            = simple_form_for User.new, url: invitations_path, method: :create, :remote => "true", wrapper: :vertical_form do |f|
              = f.input :email, placeholder: 'user@domain.com', class: 'form-control', required: true
              = f.submit 'Send Invitation', class: "btn btn-primary btn-sm pull-right"
      .col-md-6
        .well.wel-sm
          %p We will send an email with a link that will allow current website member to sign/login up on our site for free.
          %p The signed in user will be able to see the errors of your current website.
          %p Thanks.
