.panel-body{:style => "display:#{(@website.platform == 'Ios' || @platform_tab == 'ios') ? 'block' : 'none'};"}
  %a For in-depth instructions on integration with Objective-C, view the
  %a.text-primary{:href => "https://docs.getsentry.com/hosted/clients/objc/", :target => "_blank"} complete documentation here.