.panel.panel-default
  .panel-heading
    %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{data.name}"}
      %h4.panel-title=data.name.humanize
  .panel-collapse.collapse{ id: "collapse#{data.name}", class: "#{data.name == @error.aggregates[0].name ? 'in' : ''}" }
    .panel-body
      %table.table#members-container
        %thead
          %tr
            %th=data.name.humanize
            %th # of notices
            %th First seen at
            %th Last seen at
        %tbody.websites
          - data.value.keys.each do |key|
            %tr
              %td
                =key
              %td
                =data.value[key]["count"]
              %td
                =data.value[key]["created_at"].to_time.strftime("%Y-%m-%d %l:%M")
              %td
                =data.value[key]["updated_at"].to_time.strftime("%Y-%m-%d %l:%M")
