.panel.panel-default
  .panel-heading
    %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{panel}"}
      %h4.panel-title=title
  .panel-collapse.collapse{ id: "collapse#{panel}", class: "#{panel == 'One' ? 'in' : ''}" }
    .panel-body
      %table.table#members-container
        %thead
          %tr
            %th=attribute.capitalize
            %th # of notices
            %th First seen at
            %th Last seen at
        %tbody.websites
          - data.each do |element|
            %tr
              - if defined?(secondary)
                %td
                  =element[attribute][secondary]
              - else
                %td
                  =element[attribute]
              %td
                =element["count"]
              %td
                =element["created_at"].strftime("%Y-%m-%d %l:%M")
              %td
                =element["updated_at"].strftime("%Y-%m-%d %l:%M")
