.sidebar-filters
  .filter-element
    .input-group
      %input.form-control{:name => 'search', :placeholder => "Search for..."}
        %span.input-group-btn
          %button.btn.btn-info{:type => 'submit', :value => "search-button", :name => 'commit'}
            %span.glyphicon.glyphicon-search
            Submit
  .filter-element
    .form-group
      %label Date:
      .input-group.date
        %input.form-control#datetimepicker{:name => 'datepicker', :value => params[:datepicker], :type => "text"}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

  .filter-element
    .form-group
      %label.radio-inline
        %input{:value => 'unresolved', :name => "status", :type => "radio", :checked => params[:status] == 'unresolved' ? true : false}
        Unresolved
      %label.radio-inline
        %input{:value => 'resolved', :name => "status", :type => "radio", :checked => params[:status] == 'resolved' ? true : false}
        Resolved
  .filter-element
    %button.btn.btn-warning.btn-sm.pull-right{:type => 'submit', :value => "find-matchings", :name => 'commit'} Search for matching groups
%br
%hr

