.row
  #grouped-issuescontainer.col-lg-9.col-md-8.pagecontainer
    = render partial: 'error', collection: @errors

    #pagination
      .row
        .col-xs-4.side
        .col-xs-5.buttons
          = paginate @errors, theme: 'next_prev_theme'
          %span.pagination-text= page_entries_info @errors, entry_name: 'error'
      %br/
    - if @errors.blank?
      #missing-errors.bs-example.col-lg-12
        .alert.alert-info{:role => "alert", :align => "center"}
          %strong There are no errors.
          They will appear here as soon as something happens to your website.

  = render partial: 'filters'