.row
  #grouped-issuescontainer.col-lg-9.col-md-8.pagecontainer
    #grouped-issues.groups
      %a.warning{:href => errors_url()}
        .left
          %span.message Homepage
        .right
          %span.last Last occurrence
          %span.last_occurrence Today, 21:34
        .main
          / %span.type Level
          / %span.level Bug
          %span.language Language
          %span.issue_logger Javascript - app.js 149:12
        .group-right
          .issues
            %span.page_title
            %span.description
            %span.users_count
    #pagination
      .row
        .col-xs-4.side
        .col-xs-5.buttons
          %a.btn.btn-default.previous.disabled{:href => "#"}
            %span.fa.fa-chevron-left
          %span.pagination-text
          %a.btn.btn-default.next{:href => "#"}
            %span.fa.fa-chevron-right
      %br/
    #missing-errors.bs-example.col-lg-12{"data-example-id" => "simple-alerts"}
      .alert.alert-info{:role => "alert"}
        %strong There are no errors.
        They will appear here as soon as something happens to your website.


  #filterpanel.col-lg-3.col-md-4.sidepanel
    %h4 Order by
    .panelbox
      .form-group
        %select#sortinput.form-control{:name => "sortinput"}
          %option Last occurrence
          %option Users subscribed
          %option Page
    %h4 Filter
    #filterbox.panelbox
      %form.panel.panel-default
        %h5{"data-target" => "#collapse_page", "data-toggle" => "collapse"}
          Page
          %span.fa.fa-chevron-down
        #collapse_page.collapse
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Homepage
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Dashboard
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Settings
      %form.panel.panel-default
        %h5{"data-target" => "#collapse_os", "data-toggle" => "collapse"}
          Operating Systems
          %span.open.fa.fa-chevron-down
        #collapse_os.collapse
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Windows 8
          .checkbox
            %label
              %input{:type => "checkbox", :value => ""}/
              Windows 7

  .modal.fade#myModal{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title.text-center Add new website
        %form#addWebsite{:action => "", :method => "post"}
          .modal-body
            .row
              .panel.panel-default
                .panel-heading.text-center Enter the website details below
                .panel-body
                  %form
                    .form-group
                      %label.control-label Name
                      %input#title.form-control{:placeholder => "Website name", :required => "required", :type => "text", :name => 'title'}/
                    .form-group
                      %label.control-label Domain
                      %input#domain.form-control{:placeholder => "http://www.domain.com", :required => "required", :type => "url", :name => 'website'}/
                    .well.wel-sm
                      %p After adding the website domain we are going to offer you a javascript code to add to your error pages so the users will get recorded when they receive errors.
                      %p You will be able to get in contact with your users after the errors are received and send them messages to let them know the issues are resolved.
                    .form-group
                      %button.btn.btn-default{:style => "display:inline; width: 275px;", "data-dismiss" => "modal", :type => "button"} Close
                      %button.btn.btn-primary.pull-right{:style => "width: 275px; display:inline", :type => "submit"} Save changes
