- if !@error.resolved_at.nil?
  $('#resolve-button').val('Unresolve')
  $('#resolve-button').removeClass('btn-primary').addClass('btn-danger')
- else
  $('#resolve-button').val('Resolve')
  $('#resolve-button').removeClass('btn-danger').addClass('btn-primary')

- if @sidebar
  $("#{escape_javascript(render partial: 'sidebar_elements',collection: @sidebar, as: :error)}").appendTo('.error-container').hide().fadeIn(2000);
  $('.sidebar_pagination_text').html("#{ escape_javascript(page_entries_info @pagination, entry_name: 'error') } ")
  $('.sidebar_pagination_buttons').html("#{escape_javascript(paginate @pagination, theme: 'next_prev_theme', params: { controller: 'errors', action: 'show', _: nil, _method: nil, commit: nil, error_ids: nil, utf8: nil } ) }")