- if !@error.resolved_at.nil?
  $('#resolve-button').val('Unresolve')
  $('#resolve-button').removeClass('btn-primary').addClass('btn-danger')
- else
  $('#resolve-button').val('Resolve')
  $('#resolve-button').removeClass('btn-danger').addClass('btn-primary')