#grouped-issuedetails.row.issues
  .col-lg-9.col-md-8.pagecontainer
    %h3 Error #24601
    / %button.btn.btn-primary.pull-right
    /   %span.fa.fa-star
    /   Assign task
    %button.btn.btn-primary.pull-right#solve
      %span.fa.fa-check
      Mark resolved
    %button.btn.btn-success.pull-right.resolved
      %span.fa.fa-check
      Resolved
    .clearfix
    %br/
    .panel.panel-default.codeview
      .panel-heading Exception
      .panel-body
        %p
          %strong.message
        .codepanel
          %span.line.error
            raven/raven-js/example/scratch.js  ? in HTMLButtonElement.broken at line 12:51
    .panel.panel-default
      .panel-heading Update
      .panel-body
        %form#notify
          .form-group
            %label.subscribers_count{:for => "subscriber_update"}
            %textarea#subscriber_update.form-control.notify.messageTextarea{:rows => "3"}
          .row
            .col-md-9.col-xs-7
              .checkbox
                %label
                  %input{:type => "checkbox", :value => ""}/
                  Notify users by email
            .col-md-3.col-xs-5
              %button.btn.btn-primary.pull-right.notify#subscriber_update
                %span.fa.fa-paper-plane
                Send
    .panel.panel-default
      .panel-heading Stream
      #activitystream
        %p.resolved
          %span.time 14:12
          %span.activity
            Error marked resolved by
            %strong woubuc
        %p.user
          %span.time 12:52
          %span.activity Anonymous user subscribed to this error
        %p.error
          %span.time 12:52
          %span.activity
            Error occured on
            %strong Homepage
        %p.error
          %span.time 12:37
          %span.activity
            Error occured on
            %strong Homepage
        %p.user
          %span.time 11:15
          %span.activity User woubuc subscribed to this error
        %p.error
          %span.time 11:14
          %span.activity
            Error occured on
            %strong Homepage
    .panel.panel-default.codeview
      .panel-heading Request
      .panel-body
        .codepanel
          %strong.view
          %br/
        .codepanel
          %strong User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2454.85 Safari/537.36
    .panel.panel-default.codeview
      .panel-heading User
      .panel-body
        .codepanel
          %strong Id: 1
          %br/
        .codepanel
          %strong IP Adress: 10.156.45.154
          %br/
        .codepanel
          %strong Email: chocksy@gmail.com
          %br/
        .codepanel
          %strong Data: {}
          %br/
    / .panel.panel-default
    /   .panel-heading Exception
    /   .panel-body
    /     %p
    /       %strong Expected ")"
    /       in app.js 20:33
    /     .codepanel
    /       %span.line 16. function helloWorld() {
    /       %span.line 17.     // Say hello world until the user starts questioning
    /       %span.line 18.     // the meaningfulness of their existence.
    /       %span.line 19.     for (var i = 42; --i &gt;= 0;) {
    /       %span.line.error
    /         20. alert('Hello ' + String(world)
    /         %span.char ;
    /       %span.line 21.     }
    /       %span.line 22. }
  .col-lg-3.col-md-4.sidepanel
    %h4 Details
    .panelbox.propertybox
      %p
        %strong Status:
        %small.status unresolved
      %p
        %strong First occurrence:
        %small.created_at 21/04 (two weeks ago)
      %p
        %strong Last occurrence:
        %small.last_occurrence 11:18 (one hour ago)
      %p.resolved
        %strong Resolved at:
        %small.resolved_at
    .panelbox.propertybox
      %p
        %strong Level:
        %small.level Error
      %p
        %strong Logger:
        %small.issue_logger Javascript
      %p
        %strong Url:
        %small http://localhost/raven/raven-js/example/
      %p
        %strong OS:
        %small Windows
    / .panelbox.propertybox
    /   %p
    /     %strong Pages:
    /     Homepage
    /     %span.badge 52
    /     %br/
    /     Sign Up
    /     %span.badge 9
    / .panelbox.propertybox
    /   %p
    /     %strong Browsers:
    /     Google Chrome
    /     %span.badge 24
    /     %br/
    /     Internet Explorer
    /     %span.badge 20
    /     %br/
    /     Mozilla Firefox
    /     %span.badge 17
    / %h4 Filter
    / #filterbox.panelbox
    /   %form.panel.panel-default
    /     %h5{"data-target" => "#collapse_page", "data-toggle" => "collapse"}
    /       Page
    /       %span.fa.fa-chevron-down
    /     #collapse_page.collapse
    /       .checkbox
    /         %label
    /           %input{:type => "checkbox", :value => ""}/
    /           Homepage
    #truncated.panelbox.propertybox.faces
      %p
        %strong Subscribed users:
        %p
        .avatars
          %img{:src => "http://lorempixel.com/48/48/people/1"}
        %p#truncate
          %a ...show more
      %br/
      / %p
      /   %strong Public URL:
      /   %input#permalink.form-control.input-sm{:disabled => " ", :type => "text", :value => "http://epiclogger.io/errors/#{params[:id]}"}/
      /   %a.btn.btn-primary.btn-sm.btn-block{:href => "#"} Disable public access

:javascript
  $('#permalink').on('focus', function() {
    $(this).select();
  });