.row
  .col-sm-3
    = render partial: 'errors_sidebar'
  .col-sm-9
    #error-details
      .header.no-margin
        %h3= @error.message
      / Nav tabs
      -# %ul.nav.nav-tabs{:role => "tablist"}
      -#   %li.active{:role => "presentation"}
      -#     %a{"aria-controls" => "overview", "data-toggle" => "tab", :href => "#overview", :role => "tab"} Overview
      -#   %li{:role => "presentation"}
      -#     %a{"aria-controls" => "stacktrace", "data-toggle" => "tab", :href => "#stacktrace", :role => "tab"} Stacktrace
      -#   %li{:role => "presentation"}
      -#     %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} Messages
      -#   %li{:role => "presentation"}
      -#     %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
      -# / Tab panes
      -# .tab-content
      -#   #overview.tab-pane.active{:role => "tabpanel"} ...
      -#   #stacktrace.tab-pane{:role => "tabpanel"}
      -#     - @issue.stacktrace_frames.each do |frame|
      -#       %div= frame.get_culprit_string(with_lineno: true)
      -#   #messages.tab-pane{:role => "tabpanel"} ...
      -#   #settings.tab-pane{:role => "tabpanel"} ...
      .row
        .col-sm-9
          -# exception display
          .panel.panel-default.exception
            .panel-heading Exception
            .panel-body
              - @issue.stacktrace_frames.each do |frame|
                %div= frame.get_culprit_string(with_lineno: true)

        .col-sm-3
          .panel.panel-default
            .panel-heading Details
            .panel-body
              %ul.list-unstyled
                %li Occured at
                %li= @issue.created_at

      -# %ul.nav.nav-tabs
      -#   %li.active
      -#     %a{:href => "#overview"} Overview
      -#   %li
      -#     %a{:href => "#backtrace"} Backtrace
      -#   %li
      -#     %a{:href => "#context"} Context
      -#   %li
      -#     %a{:href => "#bugs"}
      -#       %i.glyphicon.glyphicon-alert
      -#   %li
      -#     %a{:href => "#aggregations"} Aggregations
      -#   %li
      -#     %a{:href => "#conversations"}
      -#       %i.glyphicon.glyphicon-envelope
      .col-lg-12.pagecontainer.error#overview
        .col-lg-2
          %p Occured at
        .col-lf-10
          %p.datetime
        .col-lg-2
          %p First seen at
        .col-lf-10
          %p.first_seen
        .col-lg-2
          %p Occurences
        .col-lf-10
          %p.times_seen
        .col-lg-2
          %p Url
        .col-lf-10
          %p.error_url
        .col-lg-2
          %p File
        .col-lf-10
          %p.culprit
        .col-lg-2
          %p Hostname
        .col-lf-10
          %p ????????
        .col-lg-2
          %p Error type
        .col-lf-10
          %p ????????
        .col-lg-2
          %p Error message
        .col-lf-10
          %p.message
        .col-lg-2
          %p Where
        .col-lf-10
          %p ????????
        .col-lg-2
          %p Remote address
        .col-lf-10
          %p.error_remote_addr
        .col-lg-2
          %p User agent
        .col-lf-10
          %p
            .data
              .interfaces
                .http
                  .headers
                    .user_agent
        %hr
        .col-lg-2
          %p Github
        .col-lf-10
          %button.btn.btn-default.fa.fa-github.error_server_name
        %hr
        %p{:style => "display:inline"} &nbsp&nbsp&nbsp&nbspPivotal Tracker
        %button.btn.btn-default{:style => "margin-left: 122px"}
          %i.glyphicon.glyphicon-record
          Create Pivotal Tracker ticket
        %hr
        %p{:style => "display:inline"} &nbsp&nbsp&nbsp&nbspIntegrations
        %a{:href => "#", :style => "text-decoration:none;margin-left: 145px"} Integration Settings

      .col-lg-12.pagecontainer#backtrace
        .error
          .data
            .backtrace
              %p.frame
      .col-lg-12.pagecontainer#context
        %pre
          %code.language-html
            .error_context
      .col-lg-12.pagecontainer.error#bugs
        %h3 Activity grapth #TODO
        .col-md-8
          .panel.panel-default
            .panel-heading Exception
            .panel-body
        .col-md-4
          .panel.panel-default
            .panel-heading Actions
            .panel-body
              %button.btn.btn-primary.btn-xs.fa.fa-check#solve &nbspMark as resolved
              %button.btn.btn-success.btn-xs.fa.fa-check.resolved &nbspResolved
        .col-md-8
          .panel.panel-default
            .panel-heading Broadcast
            .panel-body
              %form{:role => "form", :style => "width:800px"}
                .form-group
                  %label{:for => "comment"} Norify Subscribers:
                  %textarea#notifysub.form-control{:rows => "5"}
                .form-group.pull-right
                  %input{:type => 'checkbox'}
                  %span email users &nbsp&nbsp
                  %button.btn.btn-primary#notify Send
        .col-md-4
          .panel.panel-default
            .panel-heading Details
            .panel-body
              .panelbox.propertybox
                %p
                  %strong Date:
                  %small.created_at 21/04 (two weeks ago)
                  %hr
                %p
                  %strong Id:
                  %small.event_id
                  %hr
                %p
                  %strong Level:
                  %small.level Error
                  %hr
                %p
                  %strong IP Adress:
                  %small.error_remote_addr
                  %hr
                %p
                  %strong Logger:
                  %small.platform
      /     .container-fluid.multiplepanel
      /       .container-fluid.col-lg-8
      /         .panel.panel-default
      /           .panel-heading Stream
      /           #activitystream
      /             %p.resolved
      /               %span.time 14:12
      /               %span.activity
      /                 Error marked resolved by
      /                 %strong woubuc
      /             %p.user
      /               %span.time 12:52
      /               %span.activity Anonymous user subscribed to this error
      /             %p.error
      /               %span.time 12:52
      /               %span.activity
      /                 Error occured on
      /                 %strong Homepage
      /             %p.error
      /               %span.time 12:37
      /               %span.activity
      /                 Error occured on
      /                 %strong Homepage
      /             %p.user
      /               %span.time 11:15
      /               %span.activity User woubuc subscribed to this error
      /             %p.error
      /               %span.time 11:14
      /               %span.activity
      /                 Error occured on
      /                 %strong Homepage
      /       .container-fluid.col-lg-3.pull-right
      /         .panel.panel-default.codeview
      /           .panel-heading Details
      /           .panel-body
      /             .panelbox.propertybox
      /               %p
      /                 %strong Status:
      /                 %small.status unresolved
      /               %p
      /                 %strong First occurrence:
      /                 %small.created_at 21/04 (two weeks ago)
      /               %p
      /                 %strong Last occurrence:
      /                 %small.last_occurrence 11:18 (one hour ago)
      /               %p.resolved
      /                 %strong Resolved at:
      /                 %small.resolved_at
      /             .panelbox.propertybox
      /               %p
      /                 %strong Level:
      /                 %small.level Error
      /               %p
      /                 %strong Logger:
      /                 %small.issue_logger Javascript
      /               %p
      /                 %strong Url:
      /                 %small http://localhost/raven/raven-js/example/
      /               %p
      /                 %strong OS:
      /                 %small Windows
      /             .panelbox.propertybox.faces
      /               %p
      /                 %strong Subscribed users:
      /                 %p
      /                 .avatars
      /                   %img{:src => "http://lorempixel.com/48/48/people/1"}
      /                 %p
      /                   #truncate ...show more
      /               %br/

    -# :javascript
    -#   $('#permalink').on('focus', function() {
    -#     $(this).select();
    -#   });