$('#unresolve-button').hide();
$('#resolve-button').show();

- if @sidebar && @pagination
  // replace updated errors
  $("#{escape_javascript(render partial: 'sidebar_elements',collection: @sidebar, as: :error)}").appendTo(".resolved-error-container").hide().fadeIn(2000);

  // reinitialize pagination buttons & page number
  $('.sidebar_pagination_text').html("#{ escape_javascript(page_entries_info @pagination, entry_name: 'error') } ");
  $('.sidebar_pagination_buttons').html("#{escape_javascript(paginate @pagination, theme: 'next_prev_theme', params: { controller: 'errors', action: 'show', _: nil, _method: nil, commit: nil, error_ids: nil, utf8: nil } ) }");