.col-md-12.pagecontainer.tab#node_js_tab
  .pagetitle.text-center
    %h3 Configuring Node.js
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li{class: @tab == 'node_js' ? 'active' : ''}
        %a{name: "node_js", href: "#node_js"} Node.js
      %li{class: @tab == 'express' ? 'active' : ''}
        %a{:name =>"express", :href => "#express"} Express
      %li{class: ( @tab == 'connect' ? 'active' : '')}
        %a{:name =>"connect", :href => "#connect"} Connect
  .panel.panel-default.codeview
    .panel-heading
    = render partial: 'installations/platforms/node_js/node_js'
    = render partial: 'installations/platforms/node_js/express'
    = render partial: 'installations/platforms/node_js/connect'