html, body {
  color: #757988;
  // font-size: 16px;
  // line-height: 1.6;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: #313542;
  // font-size: 24px;
  font-weight: 500;
}

p {
  padding: 10px 10px 0 10px;
}

.pull-right{
  float:right;
}

.pull-left{
  float:left;
}

// html, body {
//   height: 100%;
//   font-family: "Roboto", helvetica, arial, sans-serif;
//   background: #eeeeee;
// }

// h1, h2, h3, h4 {
//   font-size: 18px;
//   color: #262626;
//   font-weight: 500;
// }

/* +++++++++++ Responsive menu ++++++++++ */

/* General styles for all menus */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  height: 100%;
  top: 45px;
  z-index: 1000;
  width:50px;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.cbp-spmenu,
.main-container,
.cbp-spmenu-vertical {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* other types of menus */

.cbp-spcontent{
  overflow-x: hidden;
  position: relative;
  top:50px;
  left:50px;
}

.cbp-spcontent-pushed-right{
  left:50px !important;
}

.cbp-spcontent-full-width{
  left:0px;
}

.cbp-spmenu-vertical-pushed-right{
  left:0px !important;
}

.cbp-spmenu-vertical-hidden{
  left:-50px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++  Menu Styling ++++++++++++++++++++++ */

.cbp-spmenu-horizontal{
  background-color:#4a5374;
  display:inline-block;
  .toggle-left-sidebar{
    float:left;
    background-color:#3d4359;
    width:49px;
    height:49px;
  }

  .toggle-left-sidebar:hover{
    background-color:white;
  }

  .clearfix:after {
    display:block;
    clear:both;
  }

  .menu-wrap {
    width:100%;
    .menu {
      margin:0px auto;

      li {
        margin:0px;
        list-style:none;
      }

      a {
        transition:all linear 0.15s;
        color:white;
      }

      a:focus{
        text-decoration:none;
      }

      li:hover > a, .menu .current-item > a {
        text-decoration:none;
        color:#bdd8db;
      }

      #user_options{
        a{
          padding:0px 10px;
          height:50px;
          width:100%;
          line-height:50px;
          vertical-align:middle;
          margin-right:50px;
          text-align:center;

          .profileimg{
            vertical-align:middle;
            margin-top:10px;
            margin-right:20px;
          }

          i{
            line-height:50px;
          }
        }
      }

    }

    .open-menu {
      visibility: visible;
    }

    .menu > ul > li {
      float:left;
      display:inline-block;
      position:relative;
      font-size:16px;
    }

    .menu > ul > li > a {
      padding:14px 30px;
      display:inline-block;
      text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    }

    .menu > ul > li:hover > a, .menu > ul > .current-item > a {
      background:#2c3144;
    }
  }

  

  .sub-menu {
      width:100%;
      padding:0px;
      position:absolute;
      top:100%;
      left:0px;
      visibility: hidden;
      transition:opacity linear 0.15s;
      box-shadow:0px 2px 3px rgba(0,0,0,0.2);
      background:#2c3144;
  }

  .sub-menu li {
      display:block;
      font-size:16px;
  }

  .sub-menu li a {
      padding:10px 30px;
      display:block;
  }

  .sub-menu li a:hover, .sub-menu .current-item a {
      background:#232635;
  }
}

.cbp-spmenu-vertical {
  background-color:#2c3144;

  .icon-list{
    padding:0px;
    margin-top:30px;

    li{
      transition:all linear 0.3s;
      box-sizing:border-box;
      width:100%;
      height:50px;

      a{
        text-align:center;
        line-height:50px;
        vertical-align:middle;
        display:block;
        box-sizing:border-box;
        height:100%;
        width:100%;
        font-size:22px;
        color:#495171;
      }
    }
    li:hover{
      transition:all linear 0.3s;
      background: rgba(0,0,0,0.2);
      box-shadow: inset 0 -1px rgba(0,0,0,0);
    }
  }
}

@media (max-width: 350px){
  .cbp-spmenu-vertical {
    width:40px;
  }

  .cbp-spmenu-horizontal {
    height: 40px;
  }

  .cbp-spcontent{
    top:50px;
    left:40px;
  }

  .cbp-spcontent-pushed-right{
    left:40px !important;
  }

  .cbp-spcontent-full-width{
    left:0px;
  }

  .cbp-spmenu-vertical-pushed-right{
    left:0px !important;
  }

  .cbp-spmenu-vertical-hidden{
    left:-40px;
  }

  .cbp-spmenu-horizontal{
    .toggle-left-sidebar{
      width:40px;
      height:40px;
    }
  }

  .cbp-spmenu-vertical {
    .icon-list{
      li{
        height:40px;

        a{
          line-height:40px;
          font-size:18px;
          color:#495171;
        }
      }
    }
  }

  .cbp-spmenu-vertical {
    top: 35px;
  }

}

/* +++++++++++++++++++++++++++++++++++++++++++++++ */

[j\:cloak], [j-cloak], [data-j-cloak], [x-j-cloak], .j-cloak, .x-j-cloak {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;

  &:before {
    content: "Loading...";
    padding-top: 25%;
    color: #757988;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 35px;
  }
}

strong, label, .table > tbody > tr > th {
  font-weight: 500;
}

.badge {
  font-size: 11px;
  font-weigh6t: 500;
  border-radius: 4px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.btn {
  transition: all 80ms ease-in-out;
  &.btn-primary {
    border: none;
    color: white;
    background: #1086e0;
    &:hover {
      background: #0069b9;
    }
  }
  &:hover {
    // padding-top: 9px;
    // padding-bottom: 9px;
    // margin-top: -3px;
    // margin-bottom: -3px;
  }
  &.btn-sm {
    padding: 5px 10px;
    margin: 0;
    margin-top: 5px;
  }
  span {
    float: left;
    margin: 3px 9px 0 0;
  }
}

.table > tbody > tr > td > .btn.btn-sm {
  margin-top: 0;
}

img.profileimg {
  border-radius: 24px;
  width: 30px;
  height: 30px;
}