html, body {
  color: #757988;
  // font-size: 16px;
  // line-height: 1.6;
  height: 100%;
  font-family: 'Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow:hidden;
}

h1, h2, h3, h4 {
  color: #313542;
  // font-size: 24px;
  font-weight: 500;
}

p {
  padding: 10px 10px 0 10px;
}

.pull-right{
  float:right;
}

.pull-left{
  float:left;
}

.main-wrapper{
  display:none;
}

.active{
  background-color:#ffffff;

  a{
    color:#1d1e22 !important;
    i{
      border-color:black !important;
    }

    .error-count-badge{
      background-color:#ef5757 !important;
      color:white !important;
      border-color:#ef5757 !important;
    }
  }
}

.active:hover{
  background-color:#ffffff !important;

  a{
    color:#1d1e22 !important;
  }
}

.toggle-left-sidebar{
  font-size:35px;
  padding:10px 5px;
  color:#1d1e22;
  margin-bottom:10px;
}

.toggle-left-sidebar-open{
  color:#ecf0f1;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

// html, body {
//   height: 100%;
//   font-family: "Roboto", helvetica, arial, sans-serif;
//   background: #eeeeee;
// }

// h1, h2, h3, h4 {
//   font-size: 18px;
//   color: #262626;
//   font-weight: 500;
// }

/* +++++++++++ Responsive menu ++++++++++ */

/* General styles for all menus */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  height: 100%;
  top: 0px;
  z-index: 1000;
  width:50px;
}

.cbp-spmenu,
.main-container,
.cbp-spmenu-vertical {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* other types of menus */

.cbp-spcontent{
  overflow-x: hidden;
  position: relative;
  left:50px;
}

.cbp-spcontent-pushed-right{
  left:230px !important;
}

.cbp-spcontent-full-width{
  left:0px;
}

.cbp-spmenu-vertical-pushed-right{
  left:0px !important;
}

.cbp-spmenu-vertical-hidden{
  left:-230px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++  Menu Styling ++++++++++++++++++++++ */


.regular-menu-vertical {
  background-color:#1d1e22;
  width:230px;
  transition:all linear 0.3s;

  .sidebar-header{
    width:100%;
    border-bottom:1px solid rgba(45,46,53,1);
    min-height:120px;
    overflow:hidden;
    .website-container{
      box-sizing:border-box;
      padding:5px;
      padding-top:20px;
      height:100%;
      width:100%;

      img{
        width:40px;
        height:40px;
        float:left;
      }

      .pick_wrapper{
        margin-top:5px;
        width:calc(100% - 40px);
        float:right;
        a{
          padding-left:10px;
        }

        ul{
          transition:all linear 1s;
          -webkit-padding-start: 0px;
          list-style-type:none;
          max-height:0px;
          overflow: hidden;

          li{
            padding:10px 0px;
          }

          li:hover{
            transition:all linear 0.3s;
            background:#0e0e10;
            box-shadow: inset 0 -1px rgba(0,0,0,0);
          }

          .title{
            margin-left:10px;
            font-size:16px;
            color:#727586;
            text-decoration:none;
          }
        }
      }

      .show-websites{
        max-height:1000px !important;
      }
    }

    .picked-website{
      font-size:18px;
      text-decoration:none;
      color:#e1e2e1;
    }

  }

  .sidebar-content{

    .icon-list{
      padding:0px;
      border-bottom:1px solid rgba(45,46,53,1);

      li{
        transition:all linear 0.3s;
        box-sizing:border-box;
        width:100%;
        height:50px;

        a{
          line-height:50px;
          display:block;
          box-sizing:border-box;
          height:100%;
          width:100%;
          font-size:13px;
          text-decoration:none;
          color:#727586;

          i{
            text-align:center;
            width:22px;
            height:22px;
            line-height:18px;
            font-size:14px;
            margin-left:15px;
            margin-right:10px;
            border:2px solid #7b7e91;
            border-radius:5px;
          }

          .error-count-badge{
            width:22px;
            height:22px;
            text-align:center;
            float:right;
            font-size:13px;
            border:2px solid #7b7e91;
            color:#7b7e91;
            border-radius:50%;
            margin-top:15px;
            margin-right:10px;
            line-height:18px;
          }
        }
      }
      li:hover{
        transition:all linear 0.3s;
        background:#0e0e10;
        box-shadow: inset 0 -1px rgba(0,0,0,0);
      }
    }
  }
}

@media (max-width: 500px){
  .menu-wrap {
    .menu {

      #user_options{
        a{
          margin-right:30px;
        }
      }
    }

    .menu > ul > li {
      font-size:12px;
    }

    .menu > ul > li > a {
      padding:16px 30px;
    }
  }
}


@media (max-width: 350px){

  .cbp-spcontent{
    left:40px;
  }

  .cbp-spcontent-full-width{
    left:0px;
  }

  .cbp-spmenu-vertical-pushed-right{
    left:0px !important;
  }

  .cbp-spmenu-vertical {
    overflow:auto;
    .icon-list{
      li{
        height:40px;

        a{
          line-height:40px;
          font-size:18px;
          color:#495171;
        }
      }
    }
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ */

[j\:cloak], [j-cloak], [data-j-cloak], [x-j-cloak], .j-cloak, .x-j-cloak {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;

  &:before {
    content: "Loading...";
    padding-top: 25%;
    color: #757988;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 35px;
  }
}

strong, label, .table > tbody > tr > th {
  font-weight: 500;
}

.badge {
  font-size: 11px;
  font-weigh6t: 500;
  border-radius: 4px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.btn {
  transition: all 80ms ease-in-out;
  &.btn-primary {
    border: none;
    color: white;
    background: #1086e0;
    &:hover {
      background: #0069b9;
    }
  }
  &:hover {
    // padding-top: 9px;
    // padding-bottom: 9px;
    // margin-top: -3px;
    // margin-bottom: -3px;
  }
  &.btn-sm {
    padding: 5px 10px;
    margin: 0;
    margin-top: 5px;
  }
  span {
    float: left;
    margin: 3px 9px 0 0;
  }
}

.table > tbody > tr > td > .btn.btn-sm {
  margin-top: 0;
}

img.profileimg {
  border-radius: 24px;
  width: 30px;
  height: 30px;
}