html, body {
  color: #757988;
  // font-size: 16px;
  // line-height: 1.6;
  height: 100%;
}

h1, h2, h3, h4 {
  color: #313542;
  // font-size: 24px;
  font-weight: 500;
}

p {
  padding: 10px 10px 0 10px;
}

// html, body {
//   height: 100%;
//   font-family: "Roboto", helvetica, arial, sans-serif;
//   background: #eeeeee;
// }

// h1, h2, h3, h4 {
//   font-size: 18px;
//   color: #262626;
//   font-weight: 500;
// }

/* +++++++++++ Responsive menu ++++++++++ */

/* General styles for all menus */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  height: 100%;
  top: 40px;
  z-index: 1000;
}

.cbp-spmenu-vertical .icon_sidebar{
  width:60px;
  height:100%;
  float:left;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu,
.cbp-spmenu-push,
.main-container {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* other types of menus */

.cbp-spcontent{
  overflow-x: hidden;
  position: relative;
  left: 60px;
  top:30px;
}

.cbp-spcontent-regular-page{
  top:60px;
  left:60px;
}

.cbp-spmenu-sidebar-hide-left{
  left:-60px;
}

.cbp-spcontent-mobile{
  left:0px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++  Menu Styling ++++++++++++++++++++++ */

.cbp-spmenu-horizontal{
  background-color:#4a5374;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++ */

[j\:cloak], [j-cloak], [data-j-cloak], [x-j-cloak], .j-cloak, .x-j-cloak {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;

  &:before {
    content: "Loading...";
    padding-top: 25%;
    color: #757988;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 35px;
  }
}

strong, label, .table > tbody > tr > th {
  font-weight: 500;
}

.badge {
  font-size: 11px;
  font-weigh6t: 500;
  border-radius: 4px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.btn {
  transition: all 80ms ease-in-out;
  &.btn-primary {
    border: none;
    color: white;
    background: #1086e0;
    &:hover {
      background: #0069b9;
    }
  }
  &:hover {
    // padding-top: 9px;
    // padding-bottom: 9px;
    // margin-top: -3px;
    // margin-bottom: -3px;
  }
  &.btn-sm {
    padding: 5px 10px;
    margin: 0;
    margin-top: 5px;
  }
  span {
    float: left;
    margin: 3px 9px 0 0;
  }
}

.table > tbody > tr > td > .btn.btn-sm {
  margin-top: 0;
}

img.profileimg {
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

@media all and (max-width: 992px) {
  img.profileimg {
    float: left;
    height: 32px;
    width: 32px;
  }
}