$list-error-height: 100%;
#error-sidebar{
  border-right: 1px solid #ccc;
  min-height: 100vh;
  bottom: 0;
}
.errors-sidebar-list{
  .header {
    @include error-header();
    padding-top: 25px;

    .pagination{ margin: 0; }

    .header-resolve{
      margin-left:10px;
    }
    .sidebar_pagination_text{
      color: #c1c1c1;
    }
    .error_pagination{
      float:right;
      margin-right:10px;
      .sidebar_pagination_buttons{
        display:block;
        height: 34px;
      }
    }
    .error_select{
      margin-left:10px;
      .btn{
        margin-top:0px;
      }
    }
  }
  .sidebar-tabs{
    margin-bottom:2px;
    height:50px;
    ul{
      height:100%;
      margin:0px;
      padding:0px;
      width:100%;
      li{
        text-align: center;
        float:left;
        width:49.9%;
        height:100%;
        margin:0px;
        padding:0px;
        a{
          height:100%;
        }
      }
    }
  }
}

@media(max-width: 1000px) and (min-width: 767px){
  .header{
    .error_pagination{
      .sidebar_pagination_text{
        font-size:80%;
      }

      .sidebar_pagination_buttons ul li a{
        padding:6px 8px;
      }
    }

    .header-resolve{
      font-family:Roboto;
      font-size:80%;
      padding:8px 8px;
      margin-left:5px !important;
    }

    .error_select{
      margin-left:5px;
      .btn{
        padding:4px 6px;
      }
    }
  }
}

.errors-sidebar-elements{
  .list-group-item{
    border-radius: 0;
    height: $list-error-height;
    border-left: none;
    border-right: none;
  }
  .list-check{
    height: $list-error-height;
    margin: -10px 0;
    padding: 10px;
    &:hover{
      cursor: pointer;
      background: $brand-primary;
    }
  }
  // .list-group-item, .list-group-item:focus{background: #fff;}
  .list-group-item:hover, .checked, .active{
    background: #efeff2;
    a { text-decoration: none; }
  }
  .list-group-item:first-child{border-top:none;}
  .list-group{
    margin-bottom:0px;
  }
  .message{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // input[type="checkbox"]{ display: none; }
}

.sidebar-filters {
  padding: 3%;
  .filter-element{
    margin: 4% 4%;
  }
}