$list-error-height: 100%;
#error-sidebar{
  border-right: 1px solid #ccc;
  height: 100vh;
  bottom: 0;
}
.errors-sidebar-list{
  .header {
    @include error-header();
    padding-top: 15px;

    .pagination{ margin: 0; }

    .header-resolve{
      margin-left:20px;
    }
    .error_pagination{
      margin-right:10px;
    }
    .error_select{
      margin-left:10px;
      .btn{
        margin-top:0px;
      }
    }
  }
  .sidebar-tabs{
    margin-bottom:2px;
    height:50px;
    ul{
      height:100%;
      margin:0px;
      padding:0px;
      width:100%;
      li{
        float:left;
        width:49.9%;
        height:100%;
        margin:0px;
        padding:0px;
        a{
          height:100%;
        }
      }
    }
  }
}
.errors-sidebar-elements{
  .list-group-item{
    border-radius: 0;
    height: $list-error-height;
    border-left: none;
    border-right: none;
  }
  .list-check{
    height: $list-error-height;
    margin: -10px 0;
    padding: 10px;
    &:hover{
      cursor: pointer;
      background: $brand-primary;
    }
  }
  // .list-group-item, .list-group-item:focus{background: #fff;}
  .list-group-item:hover, .checked, .active{
    background: #F5F5F5;
    a { text-decoration: none; }
  }
  .list-group-item:first-child{border-top:none;}
  .list-group{
    margin-bottom:0px;
  }
  .message{
    overflow: hidden;
  }
  // input[type="checkbox"]{ display: none; }
}