/*!
 * Sidebar menu
 */

/* Toggle Styles */
@mixin btn-hover(){
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

@mixin sidebar-nav-links(){
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
  }
  i {
    text-indent: 0px;
    padding-right: 8px;
  }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: $sidebar-width;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$sidebar-width;
}

/* Sidebar Styles */
.sidebar-nav {
  top: 0;
  @include sidebar-nav-links();
}

.project-details{
  @include sidebar-nav-links();
  margin-top: 40px;
  h5 {
    font-size: 12px;
    text-indent: 15px;
  }
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $sidebar-button-color;
  &:hover { @include btn-hover(); }
  &:active, &:focus {
    text-decoration: none;
  }
}
.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  line-height: 60px;
  border-bottom: 1px solid $sidebar-separator-color;
  margin-bottom: 30px;
  a {
    color: $sidebar-button-color;
    &:hover { @include btn-hover(); }
  }
  .brand {
    width: 30px;
    height: 30px;
  }
  .picked-website {
    text-align: left;
    color: $sidebar-button-color;
    outline: none;
    padding-left: 10px;
    &:active, &:focus, &:hover{ @include btn-hover(); }
  }
  #websites-sidebar{
    font-size: $font-size-base;
    border-top: 1px solid $sidebar-separator-color;
    li { line-height: 20px; }
  }
  .add-new {
    border-top: 1px solid $sidebar-separator-color;
    background: #222;
  }
}

.sidebar-footer {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  .footer-help a {
    display: block;
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    &:hover{
      text-decoration: none;
      background: #eee;
    }
  }
  .account-details{
    border-top: 1px solid $sidebar-separator-color;
    margin: 20px 0;
    padding: 20px 0;
    button {
      text-decoration: none;
      color: $sidebar-button-color;
      &:hover { @include btn-hover(); }
      &:active, &:focus {
        text-decoration: none;
      }
    }
    .dropdown-menu { left: 40px; }
  }
}

@media(min-width:768px) {
  #wrapper { padding-left: $sidebar-width; }
  #wrapper.no-sidebar { padding-left: 0; }
  #wrapper.toggled { padding-left: 0; }
  #sidebar-wrapper { width: $sidebar-width; }
  #wrapper.toggled #sidebar-wrapper { width: 0; }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}