/* http://prismjs.com/download.html?themes=prism-twilight&languages=css+clike+javascript+apacheconf+coffeescript+ruby+haml+http+json+sass+scss+yaml&plugins=line-highlight+line-numbers+show-invisibles+autolinker+show-language+highlight-keywords+remove-initial-line-feed+previewer-base+previewer-color+previewer-gradient+autoloader */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */

code[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: hsl(0, 0%, 8%);
  /* #141414 */
}

:not(pre) > code[class*="language-"] {
  background: hsl(0, 0%, 8%);
  /* #141414 */
}

/* Code blocks */

pre[class*="language-"] {
  border-radius: .5em;
  border: 0.3em solid hsl(0, 0%, 33%);
  /* #282A2B */
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  &::selection {
    /* Safari */
    background: hsl(200, 4%, 16%);
    /* #282A2B */
    /* Firefox */
    background: hsl(200, 4%, 16%);
    /* #282A2B */
  }
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
    /* #EDEDED */
  }
}

/* Text Selection colour */

code[class*="language-"] {
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
    /* #EDEDED */
  }
}

pre[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
    /* #EDEDED */
  }
}

code[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
    /* #EDEDED */
  }
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  border: 0.13em solid hsl(0, 0%, 33%);
  /* #545454 */
  box-shadow: 1px 1px .3em -.1em black inset;
  padding: .15em .2em .05em;
  white-space: normal;
}

.token {
  &.comment, &.prolog, &.doctype, &.cdata {
    color: hsl(0, 0%, 47%);
    /* #777777 */
  }
  &.punctuation {
    opacity: .7;
  }
}

.namespace {
  opacity: .7;
}

.token {
  &.tag, &.boolean, &.number, &.deleted {
    color: hsl(14, 58%, 55%);
    /* #CF6A4C */
  }
  &.keyword, &.property, &.selector, &.constant, &.symbol, &.builtin {
    color: hsl(53, 89%, 79%);
    /* #F9EE98 */
  }
  &.attr-name, &.attr-value, &.string, &.char, &.operator, &.entity, &.url {
    color: hsl(76, 21%, 52%);
    /* #8F9D6A */
  }
}

.language-css .token.string, .style .token.string {
  color: hsl(76, 21%, 52%);
  /* #8F9D6A */
}

.token {
  &.variable, &.inserted {
    color: hsl(76, 21%, 52%);
    /* #8F9D6A */
  }
  &.atrule {
    color: hsl(218, 22%, 55%);
    /* #7587A6 */
  }
  &.regex {
    color: hsl(42, 75%, 65%);
    /* #E9C062 */
  }
  &.important {
    color: hsl(42, 75%, 65%);
    /* #E9C062 */
    font-weight: bold;
  }
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }
  &.entity {
    cursor: help;
  }
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

/* Markup */

.language-markup .token {
  &.tag, &.attr-name, &.punctuation {
    color: hsl(33, 33%, 52%);
    /* #AC885B */
  }
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */

.token {
  position: relative;
  z-index: 1;
}

.line-highlight {
  background: -moz-linear-gradient(left, hsla(0, 0%, 33%, 0.1) 70%, hsla(0, 0%, 33%, 0));
  /* #545454 */
  background: -o-linear-gradient(left, hsla(0, 0%, 33%, 0.1) 70%, hsla(0, 0%, 33%, 0));
  /* #545454 */
  background: -webkit-linear-gradient(left, hsla(0, 0%, 33%, 0.1) 70%, hsla(0, 0%, 33%, 0));
  /* #545454 */
  background: hsla(0, 0%, 33%, 0.25);
  /* #545454 */
  background: linear-gradient(left, hsla(0, 0%, 33%, 0.1) 70%, hsla(0, 0%, 33%, 0));
  /* #545454 */
  border-bottom: 1px dashed hsl(0, 0%, 33%);
  /* #545454 */
  border-top: 1px dashed hsl(0, 0%, 33%);
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
  &:before {
    background-color: hsl(215, 15%, 59%);
    /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: hsl(24, 20%, 95%);
    /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
  }
  &[data-end]:after {
    background-color: hsl(215, 15%, 59%);
    /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: hsl(24, 20%, 95%);
    /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
    bottom: .4em;
    content: attr(data-end);
    top: auto;
  }
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: hsla(24, 20%, 50%, 0.08);
  background: -moz-linear-gradient(left, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
  background: -webkit-linear-gradient(left, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
  background: -o-linear-gradient(left, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
  background: linear-gradient(left, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
  &:before {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, 0.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
  }
  &[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, 0.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
    content: attr(data-end);
    top: auto;
    bottom: .4em;
  }
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
  > code {
    position: relative;
  }
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
  &:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }
}

.token {
  &.tab:not(:empty):before, &.cr:before, &.lf:before {
    color: hsl(24, 20%, 85%);
  }
  &.tab:not(:empty):before {
    content: '\21E5';
  }
  &.cr:before {
    content: '\240D';
  }
  &.crlf:before {
    content: '\240D\240A';
  }
  &.lf:before {
    content: '\240A';
  }
  a {
    color: inherit;
  }
}

div.prism-show-language {
  position: relative;
  > div.prism-show-language-label {
    color: black;
    background-color: #CFCFCF;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-size: 0.9em;
    border-radius: 0 0 0 5px;
    padding: 0 0.5em;
    text-shadow: none;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.prism-previewer {
  position: absolute;
  pointer-events: none;
  &:before {
    position: absolute;
    pointer-events: none;
  }
  &:after {
    position: absolute;
    pointer-events: none;
    left: 50%;
  }
  left: 50%;
  margin-top: -48px;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity = 0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  &.flipped {
    margin-top: 0;
    margin-bottom: -48px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    pointer-events: none;
  }
  &:before {
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  }
  &:after {
    top: 100%;
    width: 0;
    height: 0;
    margin: 5px 0 0 -7px;
    border: 7px solid transparent;
    border-color: rgba(255, 0, 0, 0);
    border-top-color: #fff;
  }
  &.flipped:after {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    border-top-color: rgba(255, 0, 0, 0);
    border-bottom-color: #fff;
  }
  &.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
    filter: alpha(opacity = 1);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}

.prism-previewer-color {
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  &:before {
    background-color: inherit;
    background-clip: padding-box;
  }
}

.prism-previewer-gradient {
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  width: 64px;
  margin-left: -32px;
  &:before {
    content: none;
  }
  div {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  }
}