@import url(//fonts.googleapis.com/css?family=Roboto:400,500);
$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

// sidebar variables
$sidebar-button-color: #999999;
$sidebar-separator-color: #333;
$sidebar-width: 250px;
$sidebar-error-width: 45px;

// errors sidebar
$header-background: #EFEFF2;
$header-height: 80px;