An error has just occurred. View full details at:

http://tralala-url.com/ceva/undeva
ID

fdeb7ddf487c368cbbf0d61c373d063d

Error type

ArgumentError

Error message

'#<Remote Task 238286436>: #<Integration 2875>: #<Organization 19371>: 301: <html><body>You are being <a href="https://basecamp.com/3031310/api/v1/projects/11198000/todos/238839106.json?moved=true">redirected</a>.</body></html>'

When

2016-05-31 13:34:49 UTC

Where

home/sergiu/ravenapp/app/controllers/home_controller.rb

File

app/controllers/home_controller.rb:20 in calling_me

Url


Backtrace Summary

[" end\n", "\n", " def calling_me\n"]
raise ArgumentError, '#<Remote Task 238286436>: #<Integration 2875>: #<Organization 19371>: 301: <html><body>You are being <a href="https://basecamp.com/3031310/api/v1/projects/11198000/todos/238839106.json?moved=true">redirected</a>.</body></html>'
[" end\n", "end\n", ""]