.col-lg-12#client-configuration.main-tabs
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left#platforms-tabs.main-tabs
      %li{class: @integration_tab == 'github' ? 'active' : ''}
        = link_to "Github", installations_path('main_tab' => 'integrations', 'integration_tab' => 'github')
      %li{class: @integration_tab == 'intercom' ? 'active' : ''}
        = link_to "Intercom", installations_path('main_tab' => 'integrations', 'integration_tab' => 'intercom')

  = render partial: "installations/integration_providers/integration", locals: { provider: @integration_tab }