:javascript
  Raven.config("#{ENV['EPICLOGGER_DSN']}", {
    whitelistUrls: [
      /epiclogger.com/,
      /epiclogger-staging.herokuapp.com/
    ],
  }).install();
- if current_user
  :javascript
    Raven.setUser({
      email: "#{current_user.email}",
      id: "#{current_user.id}"
    });