.error_sidebar
  .sidebar_header
    %button{:class=>"fa fa-arrow-left btn previous"}
    %span{:class=>"sidebar_pagination_text"}
    %button{:class=>"fa fa-arrow-right btn next"}
  .sidebar_elements