.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3
        Site Users
        = link_to new_invitation_path(), class: 'btn btn-primary pull-right' do
          = icon('plus')
          Add user
    .clearfix
    %br/
    .panel.panel-default
      %table.table#members-container
        %thead
          %tr
            %th User Name
            %th Email
            %th Access
            %th.text-right Actions
        %tbody.members
          %tr.member_row{"id"=>1}
            %td.name
            %td.email
            %td.role
            %td.text-right
              = link_to ' Remove user', api_v1_subscribers_path(), :method => :delete, :remote => "true", data: {confirm: "Are you sure?"}, :class => "delete_member btn btn-danger pull-right fa fa-close"